.engine {
    display: flex;
    flex-direction: column;
    flex: 1;

    & > .location {
        width: 140px;
        margin: 10px auto;
        text-align: center;
        display: flex;
        background: #555;
        border-radius: 2px;
        overflow: hidden;
        border: 1px solid #666;

        & > span {
            flex: 1;
            padding: 3px;
            cursor: pointer;
            opacity: 0.3;

            &[active] {
                background: #333;
                opacity: 1;
            }
        }
    }

    & > .settings {
        overflow: hidden;
        flex: 1;
        margin: 10px 15px;
        line-height: 24px;

        & > header {
            margin-bottom: 6px;
        }
    
        & > div {
            display: flex;
            margin: 6px 0 6px 15px;
            white-space: nowrap;

            & > span {
                width: 100px;
            }

            & > div {
                flex: 1;
                display: inline-block;

                & > ui-button {
                    line-height: 14px;
                    padding: 4px 10px;
                }
            }
        }
    }
}
