.icon {
  font-family: "engine" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cloud-download:before { content: "\e7d9"; }

.check:before { content: "\e7fc"; }

