.iconfont {
    font-family: 'inspector' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
    content: '\e651';
}

.icon-close-b:before {
    content: '\e699';
}

.icon-setting:before {
    content: '\e736';
}

.icon-check-b:before {
    content: '\e654';
}

.icon-add:before {
    content: '\e64d';
}
