.iconfont {
    font-family: 'inspector' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fold:before { 
    content: "\e60c"; 
}

.icon-book:before { 
    content: "\e651"; 
}

.icon-close-b:before { 
    content: "\e699"; 
}

.icon-setting:before { 
    content: "\e736"; 
}

.icon-check-b:before { 
    content: "\e654"; 
}

.icon-unlock:before { 
    content: "\e72c"; 
}

.icon-add:before { 
    content: "\e64d"; 
}

.icon-lock:before { 
    content: "\e900"; 
}

.icon-un-fold:before { 
    content: "\e901"; 
}
