/* -----curve editor -------------- */
.curve-editor {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.curve-editor .canvas-wrap {
  position: relative;
  height: 80vh;
}
.curve-editor .canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  background-size: 32px 32px;
  background-position: center center;
}
.curve-editor .toolbar {
  display: flex;
  justify-content: center;
  text-align: center;
}
.curve-editor .toolbar canvas {
  background: #716e6e;
  margin: 5px;
}
.curve-editor .toolbar .icon-setting {
  margin: 5px;
}
.presets {
  height: 80vh;
  position: absolute;
}
