<div class="button-wrap">
    <section class="section">
        <h1>Standard</h1>
        <div><ui-button @click="addItem">添加元素</ui-button><ui-button @click="removeItem">移除元素</ui-button></div>
        <h5>事件/Event ： {{eventName}}</h5>
        <ui-button @change = "changeValue" @confirm = "confirmValue">Button</ui-button>
        <div v-html="itemHtmls"></div>
    </section>
    <section class="section">
        <h1>Disabled</h1>
        <ui-button disabled>Disabled</ui-button>
    </section>
    <section class="section">
            <h1>readOnly</h1>
            <ui-button readOnly>readOnly</ui-button>
    </section>
    <section class="section">
            <h1>state="loading"</h1>
            <ui-button state="loading"></ui-button>
            <ui-button state="loading">loading</ui-button>
    </section>
    <section class="section size">
        <h1>Size</h1>
        <div class="size-12">
            <span>12px: </span>
            <ui-button>Button</ui-button>
        </div>
        <div class="size-16">
            <span>16px: </span>
            <ui-button>Button</ui-button>
        </div>
        <div class="size-20">
            <span>20px: </span>
            <ui-button>Button</ui-button>
        </div>
    </section>
    <section>
        <h1>Style----Color</h1>
        <ui-button>standard</ui-button>
        <ui-button class="red">red</ui-button>
        <ui-button class="green">green</ui-button>
        <ui-button class="blue">blue</ui-button>
        <ui-button class="yellow">yellow</ui-button>
        <br>
        <ui-button disabled>standard</ui-button>
        <ui-button class="red" disabled>red</ui-button>
        <ui-button class="green" disabled>green</ui-button>
        <ui-button class="blue" disabled>blue</ui-button>
        <ui-button class="yellow" disabled>yellow</ui-button>
        <h1>Style----Transparent</h1>
        <ui-button class="transparent">standard</ui-button>
        <ui-button class="transparent red">red</ui-button>
        <ui-button class="transparent green">green</ui-button>
        <ui-button class="transparent blue">blue</ui-button>
        <ui-button class="transparent yellow">yellow</ui-button>
        <br>
        <ui-button class="transparent" disabled>standard</ui-button>
        <ui-button class="transparent red" disabled>red</ui-button>
        <ui-button class="transparent green" disabled>green</ui-button>
        <ui-button class="transparent blue" disabled>blue</ui-button>
        <ui-button class="transparent yellow" disabled>yellow</ui-button>
    </section>
</div>