<div class="drag-wrap">
    <section>
        <h1>disabled</h1>
        <ui-drag-object dropable="foo" disabled></ui-drag-object>
        <ui-drag-object dropable="foo" disabled value="disableddisableddisabled"></ui-drag-object>
        <h1>readonly</h1>
        <ui-drag-object dropable="foo" readonly ></ui-drag-object>
        <ui-drag-object dropable="foo" readonly value="readonlyreadonlyreadonly"></ui-drag-object>
    </section>
    <section>
        <h1>normal</h1>
        <ui-drag-object dropable="foo"></ui-drag-object>
    </section>
    <section>
        <ui-drag-item type="foo" @dragstart="onDragstart">
            <span>foo</span>
        </ui-drag-item>
        <ui-drag-item type="bar" @dragstart="onDragstart">bar</ui-drag-item>
    </section>

    <section>
        <h1>移除隐藏测试</h1>
        <ui-drag-item type="foo" @dragstart="onDragstart" >
            <span>foo</span>
        </ui-drag-item>
    </section>
    <section>
        <ui-drag-area dropable="foo" @drag="onDrag">foo</ui-drag-area>
        <ui-drag-area dropable="bar" @drag="onDrag">bar</ui-drag-area>
        <ui-drag-area dropable="foo,bar" @drag="onDrag">foo,bar</ui-drag-area>
    </section>

    <section>
        <ui-drag-area class="wrap" dropable="foo,bar">
            <ui-drag-area dropable="foo" @drag="onDrag">foo</ui-drag-area>
            <ui-drag-area dropable="bar" @drag="onDrag">bar</ui-drag-area>
            <ui-drag-area dropable="foo,bar" @drag="onDrag">foo,bar</ui-drag-area>
        </ui-drag-area>
    </section>

    <section>
        <ui-drag-area id="file" dropable="file">file</ui-drag-area>
    </section>
</div>