<div class="label-wrap">
    <section class="section">
        <h3>正常文本</h3>
        <br>
        <div>
            <span>代码：</span>
            <code>&lt;ui-label value="正常文本"&gt;&lt;/ui-label&gt;</code>
        </div>
        <div>
            <span>结果：</span>
            <ui-label value="正常文本"></ui-label>
        </div>
        <br>
    </section>
    <section class="section">
        <h3>识别 i18n</h3>
        <br>
        <div>
            <span>代码：</span>
            <code>&lt;ui-label value="i18n:scene.title"&gt;&lt;/ui-label&gt;</code>
        </div>
        <div>
            <span>结果：</span>
            <ui-label value="i18n:scene.title"></ui-label>
        </div>
        <br>
    </section>
</div>
