<div class="slider">
    <section>
        <h1>Standard</h1>

        <ui-button
            @click="addItem"
        >添加元素</ui-button>
        <ui-button
            @click="removeItem"
        >移除元素</ui-button>

        <div>
            <ui-slider value="20" min="-20"
                @change="changeValue"
                @confirm="confirmValue"
                @cancel="cancelValue"
            ></ui-slider>
        </div>

        <div class="flex">
            <div class="flex-1 ellipsis">
                <span>Event: </span>
                <span>{{eventList.join(',')}}</span>
            </div>
            <div class="flex-1 ellipsis">
                <span>Value: </span>
                <span>{{value}}</span>
            </div>
        </div>
        <div v-html="itemHtmls"></div>
    </section>
    
    <section>
        <h1>Disabled</h1>
        <ui-slider disabled value="20"></ui-slider>
    </section>

    <section>
        <h1>Min Max</h1>
        <ui-slider min="-100" value="20" max="100"></ui-slider>
        <span>min="-100" max="100"</span>
    </section>

    <section>
        <h1>Step</h1>
        <ui-slider step="3" value="5" min="0" max="100"></ui-slider>
        <span>step="3"</span>
    </section>

    <section>
        <h1>Invalid</h1>
        <ui-slider step="3" value="5" min="0" max="100" invalid></ui-slider>
    </section>
</div>