:host {
  overflow-y: auto;
}

.ui-preview {
  margin: 15px;
}

.ui-content {
  margin-bottom: 20px;
}

section {
  padding: 10px;
  border-bottom: 1px #ccc solid;
  &>* {
    margin: 5px;
  }
  h5 {
    font-size: 14px;
  }
  .size-12 {
    font-size: 12px;
  }
  .size-16 {
    font-size: 16px;
  }
  .size-20 {
    font-size: 20px;
  }
}

///////////////////////////////////////////////

section.drag {
  margin: 10px 0;
  padding: 10px;
  border-radius: 1px;
}

section.drop {
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 1px;
}

ui-drag-item {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #f00;
  background: #900;
  border-radius: 4px;
  line-height: 50px;
  text-align: center;
  margin-right: 10px;
}

ui-drag-item[draging] {
  border: 1px solid #0f0;
  background: #090;
}

ui-drag-area {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 4px dotted #666;
  line-height: 70px;
  text-align: center;
  margin-right: 10px;
}

ui-drag-area[hoving] {
  border-color: #090;
}

ui-drag-area.wrap {
  width: auto;
  height: auto;
  padding: 10px;
}

///////////////////////////////////////////////
.custom[focused] {
  --border-color: #ee00aa;
  --text-color: #ee00aa;
}

.custom[expand] .header i {
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.custom .header i {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-right: 0.2em;
  background-color: var(--border-color, #333333);
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}

.custom .header {
  cursor: pointer;
  color: var(--text-color, #333);
  border-bottom: 1px solid var(--border-color, #333333);
}

ui-prop> div[slot='content']{
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
ui-prop> div[slot='content']>ui-prop {
  --left-width:15%;
  --right-width:85%;
  max-width: 48%;
  width: 200px;
  height: 2em;
  flex-grow: 1;
  margin-right: 2%;
  margin-bottom: 5px;
}

ui-prop.vector> div[slot='content']{
  margin-right: -1.5%;
}