<div class="fit layout vertical">

    <!-- 头部工具栏 -->
    <header
        class="asset-header"
    >
        <!-- <img class="css-icon" :src="icon"></img> -->
        <div
            class="css-title"
        >
            {{meta ? meta.__name__ : ''}}
        </div>
        <span class="flex-1"></span>
    
        <ui-button class="tiny red transparent"
            :disabled="!meta.__dirty__"
            @confirm="reset($event)"
        >
            <i class="iconfont icon-close-b"></i>
        </ui-button>
    
        <ui-button class="tiny green transparent"
            :disabled="!meta.__dirty__"
            @confirm="apply($event)"
        >
            <i class="iconfont icon-check-b"></i>
        </ui-button>
    </header>

    <div class="props">

        <boolean 
            :name="T('javascript', 'plugin')"
            path="isPlugin"
            :meta="meta"
        ></boolean>

        <template v-if="meta.isPlugin">
            
            <boolean 
                :name="T('javascript', 'loadPluginInWeb')"
                :indent="1"
                path="loadPluginInWeb"
                :meta="meta"
            ></boolean>

            <boolean 
                v-if="meta.loadPluginInWeb"
                :name="T('javascript', 'loadPluginInEditor')"
                :indent="1"
                path="loadPluginInEditor"
                :meta="meta"
            ></boolean>

            <div class="boolean" v-else>
                <div class="name" style="padding-left: 13px">
                    {{T('javascript', 'loadPluginInEditor')}}
                </div>
                <div class="value">
                    <ui-checkbox disabled
                        :value="false"
                    ></ui-checkbox>
                </div>
            </div>

            <boolean 
                :name="T('javascript', 'loadPluginInNative')"
                :indent="1"
                path="loadPluginInNative"
                :meta="meta"
            ></boolean>



        </template>
        
    </div>

    <code-preview :type="meta.__assetType__" :path="path"></code-preview>

</div>