<div>
    <ui-prop label="Target" path="target">
        <div slot="content" style="padding-top: 10px">
            <ui-drag-object class="flex-1" type="cc.Node" value=""></ui-drag-object>
        </div>
    </ui-prop>
    <div class="horizontal layout end-justified">
        <ui-button class="blue tiny" @confirm="resetNodeSize" :disabled="checkResizeToTarget(target.value.target)">{{T('resize_to_target')}}</ui-button>
    </div>
    <ui-prop label="Interactable" :type="getType(target.value.interactable)" :value="JSON.stringify(target.value.interactable.value)"></ui-prop>
    <ui-prop label="EnableAutoGrayEffect" :type="getType(target.value.enableAutoGrayEffect)" :value="JSON.stringify(target.value.enableAutoGrayEffect.value)"></ui-prop>
    <ui-prop label="Transition" :type="getType(target.properties.transition)" :value="JSON.stringify(target.value.transition.value)"
        :options="getOptions(target.properties, 'transition')"></ui-prop>
    <div class="indent" v-if="checkTransition(target.value.transition, 1)">
        <ui-prop :type="getType(target.value.normalColor)" :value="JSON.stringify(target.value.normalColor.value)"></ui-prop>
        <ui-prop :type="getType(target.value.pressedColor)" :value="JSON.stringify(target.value.pressedColor.value)"></ui-prop>
        <ui-prop :type="getType(target.value.hoverColor)" :value="JSON.stringify(target.value.hoverColor.value)"></ui-prop>
        <ui-prop :type="getType(target.value.disabledColor)" :value="JSON.stringify(target.value.disabledColor.value)"></ui-prop>
        <ui-prop :type="getType(target.value.disabledColor)" :value="JSON.stringify(target.value.disabledColor.value)"></ui-prop>
        <ui-prop :type="getType(target.value.duration)" :value="JSON.stringify(target.value.duration.value)"></ui-prop>
    </div>
    <div class="indent" v-if="checkTransition(target.value.transition, 2)">
        <ui-prop label="Normal" path="normalSprite">
            <div slot="content" style="padding-top: 10px">
                <ui-drag-object class="flex-1" type="sprite-frame" :value="JSON.stringify(target.value.normalSprite.value)"></ui-drag-object>
            </div>
        </ui-prop>
        <ui-prop label="Pressed" path="pressedSprite">
            <div slot="content" style="padding-top: 10px">
                <ui-drag-object class="flex-1" type="sprite-frame" :value="JSON.stringify(target.value.pressedSprite.value)"></ui-drag-object>
            </div>
        </ui-prop>
        <ui-prop label="Hover" path="hoverSprite">
            <div slot="content" style="padding-top: 10px">
                <ui-drag-object class="flex-1" type="sprite-frame" :value="JSON.stringify(target.value.hoverSprite.value)"></ui-drag-object>
            </div>
        </ui-prop>
        <ui-prop label="Disabled" path="disabledSprite">
            <div slot="content" style="padding-top: 10px">
                <ui-drag-object class="flex-1" type="sprite-frame" :value="JSON.stringify(target.value.disabledSprite.value)"></ui-drag-object>
            </div>
        </ui-prop>
    </div>
    <div class="indent" v-if="checkTransition(target.value.transition, 3)">
        <ui-prop label="Duration" :type="getType(target.value.duration)" :value="JSON.stringify(target.value.duration.value)"></ui-prop>
        <ui-prop label="Zoom Scale" :type="getType(target.value.zoomScale)" :value="JSON.stringify(target.value.zoomScale.value)"></ui-prop>
    </div>
    <array-prop :target="target.value.clickEvents"></array-prop>
</div>