# 临时文件
.publish
.vscode
.workflow

# node 模块
**/node_modules/
**/package-lock.json
yarn*

# 插件内的构建后目录
app/builtin/**/dist
app/lib/theme/**/dist

# 引擎文件夹
/resources

# 模拟器
/builtin/preview/simulator

# 可能出现的多余文件
/builtin/*/source/**/*.js
