# 临时文件
.*
!.npmrc
yarn*
effects.json

# node 模块
node_modules/
**/package-lock.json

# 插件内的构建后目录
/builtin/**/dist
/lib/theme/**/dist

# 引擎文件夹
/resources

# 内置数据库
# /builtin/asset-db/static/internal/library
# /builtin/asset-db/static/internal/temp
# /builtin/asset-db/static/internal/*

# 模拟器
/builtin/preview/simulator

/builtin/engine/resources
/builtin/scene/engine

# cocos2d-x
/cocos2d-x
