# 临时文件
.*
!.npmrc

# node 模块
node_modules/
**/package-lock.json

# 插件内的构建后目录
/builtin/**/dist
/lib/theme/**/dist

# 引擎文件夹
/builtin/engine/resources

# 内置数据库
/builtin/asset-db/static/internal/library
/builtin/asset-db/static/internal/temp