<!-- todo 
    <ui-prop :label="dump.name" :readonly="dump.attrs.readonly">
    <template v-if="!dump.values || dump.values.length <= 1">
        <ui-num-input class="flex-1" :value="dump.value.length" @confirm="arraySizeChanged"></ui-num-input>
        <div class="child">
            <component v-for="prop in dump.value" :is="prop.compType" :dump="prop" :key="prop.compType"></component>
        </div>
    </template>
    <template v-else>
        <span>{{T('difference')}}</span>
    </template>
</ui-prop> -->
<ui-prop
    :name="dump.name"
    :indent="indent"
    foldable
>
    <template v-if="!dump.values || dump.values.length <= 1">
        <ui-num-input
            class="flex-1"
            :readonly="dump.readonly" 
            :value="dump.value.length" 
            @confirm.stop="arraySizeChanged" 
            min="0"
            max="100"
        ></ui-num-input>
        <template slot="child">
            <ui-prop
                v-for="(prop, index) in dump.value"
                :key="index"
                :comp-type="prop.compType"
                :name="prop.name"
                :dump="prop"
                :path="prop.path"
                :indent="1"
            ></ui-prop>
        </template>
    </template>
    <template v-else>
        <span>{{T('difference')}}</span>
    </template>
</ui-prop>