<div class="button-wrap">
    <section>
        <h1>message</h1>
        <ui-button @click="show()">default</ui-button>
        <ui-button @click="show('info')">info</ui-button>
        <ui-button @click="show('warn')">warn</ui-button>
        <ui-button @click="show('error')">error</ui-button>

        <h1>buttons</h1>
        <ui-button @click="show('buttons')">buttons</ui-button>

        <h1>open file</h1>
        <ui-button @click="openFile()">default</ui-button>
        <ui-button @click="openFile('root')">Designated folder</ui-button>
        <ui-button @click="openFile('filters')">filters</ui-button>

        <h1>open folder</h1>
        <ui-button @click="openDirectory()">default</ui-button>

        <h1>save</h1>
        <ui-button @click="save()">default</ui-button>
        <ui-button @click="save('root')">Designated folder</ui-button>
    </section>
</div>