<section>
  <h1>Standard</h1>
  <ui-prop label="string" type="string"  value="kkkkk"> </ui-prop>
  <ui-prop label="number" type="number" value="22.888"></ui-prop>
  <ui-prop label="int" type="int" value="22"></ui-prop>
  <ui-prop label="boolean" type="boolean" value="true"></ui-prop>
  <ui-prop label="vec2" type="vec2" value='{"x":22.2,"y":33.3}'></ui-prop>
  <ui-prop label="vec3" type="vec3" value='{"x":22.2,"y":33.3,"z":55.5}'></ui-prop>
  <ui-prop label="enums" type="enums" value='{"option":["test1","test2","test3"],"type":"enums","value":"1"}'></ui-prop>
  <h1>Group</h1>
  <ui-prop label="Group" type="string" value="Group">
    <ui-prop label="number" type="number" value="22.888"></ui-prop>
    <ui-prop label="number" type="number" value="22.668"></ui-prop>
  </ui-prop>
  <h1>readonly</h1>
  <ui-prop label="Group" type="string" value="Group" readonly>
    <ui-prop label="number" type="number" value="22.888"></ui-prop>
    <ui-prop label="text" type="string" value="text"></ui-prop>
  </ui-prop>
  <h1>disabled</h1>
  <ui-prop label="Group" type="string" value="Group" disabled>
    <ui-prop label="number" type="number" value="22.888"></ui-prop>
    <ui-prop label="number" type="number" value="22.668"></ui-prop>
  </ui-prop>
</section>