<div>
    <section>
        <h1>standard</h1>
        <ui-section>
            <div slot="header">这里是标题</div>
            <ul slot="content">
                <li>这里是第1条</li>
                <li>这里是第2条</li>
                <li>这里是第3条</li>
            </ul>
        </ui-section>
    </section>
    <section>
        <h1>size</h1>
        <ui-section small>
            <div slot="header">small section</div>
            <ul slot="content">
                <li>line1</li>
                <li>line2</li>
                <li>line3</li>
            </ul>
        </ui-section>
        <ui-section large>
            <div slot="header">large section</div>
            <ul slot="content">
                <li>line1</li>
                <li>line2</li>
                <li>line3</li>
            </ul>
        </ui-section>
        <ui-section huge>
            <div slot="header">huge section</div>
            <ul slot="content">
                <li>line1</li>
                <li>line2</li>
                <li>line3</li>
            </ul>
        </ui-section>
    </section>
    <section>
        <h1>custom</h1>
        <ui-section class="custom">
            <div slot="header">attribute header text</div>
            <ul slot="content">
                <li>这里是第1条</li>
                <li>这里是第2条</li>
                <li>这里是第3条</li>
            </ul>
        </ui-section>
    </section>
</div>