<div class="toolbar prefab">
    <button class="btn" id="save_prefab">
        <ui-label value="i18n:scene.save_prefab"></ui-label>
    </button>
    <button class="btn" id="close_prefab">
        <ui-label value="i18n:scene.close_prefab"></ui-label>
    </button>
</div>
<div class="toolbar animation">
    <button class="btn" id="save_clip">
        <ui-label value="i18n:scene.save_clip"></ui-label>
    </button>
    <button class="btn" id="close_clip">
        <ui-label value="i18n:scene.close_clip"></ui-label>
    </button>
</div>
