<ul>
    <!-- 内置引擎 -->
    <li>
        <div class="name">Builtin</div>
        <div class="button">
            <i class="icon check"
                :use="current[type] === 'builtin'"
                @click="_onClickUseEngine($event, {version: 'builtin'})"
            ></i>
        </div>
    </li>

    <!-- 自定义引擎 -->
    <li>
        <div class="name">
            <span>
                Custom: 
            </span>
            <ui-input disabled
                :value="custom[type]"
                :title="custom[type]"
                @click="_onSelectCustom($event)"
            ></ui-input>
        </div>

        <div class="button">
            <i class="icon check"
                :use="current[type] === 'custom'"
                @click="_onClickUseEngine($event, { version: 'custom', })"
            ></i>
        </div>
    </li>

    <!-- 引擎列表 -->
    <li
        v-for="item in list[type]"
    >
        <div class="name">{{item.version}}</div>
        <div class="button">
            <i class="icon cloud-download"
                v-if="!item.exists && !item.download"
                @click="_onClickDownload($event, item)"
            ></i>

            <ui-loading
                v-if="item.download"
            ></ui-loading>

            <i class="icon check"
                v-if="item.exists"
                :use="current[type] === item.version"
                @click="_onClickUseEngine($event, item)"
            ></i>
        </div>
    </li>
</ul>
