<section class="engine">
    <div class="location">
        <span
            :active="position === 'global'"
            @click="_onSwitchPositionClick($event, 'global')"
        >Global</span>
        <span
            :active="position === 'local'"
            @click="_onSwitchPositionClick($event, 'local')"
        >Local</span>
    </div>
    
    <div class="settings">
        <header>{{t('javascript_engine', language)}}</header>
        <div>
            <span>{{t('use_builtin_engine', language)}}</span>
            <div>
                <ui-checkbox
                    :value="javascript.builtin"
                    @confirm="_onUseBuiltinEngineConfirm($event, 'javascript')"
                ></ui-checkbox>
            </div>
        </div>
        <div>
            <span>{{t('custom_engine_path', language)}}</span>
            <div>
                <ui-input
                    :disabled="javascript.builtin"
                    :value="javascript.custom"
                ></ui-input>
                <ui-button
                    :disabled="javascript.builtin"
                    @confirm="_onBrowserButtonClick($event, 'javascript')"
                >{{t('browse', language)}}</ui-button>
                <ui-button
                    :disabled="javascript.builtin"
                    @confirm="_onOpenEngineDirectory($event, 'javascript')"
                >{{t('open', language)}}</ui-button>
            </div>
        </div>
    </div>
    
</section>
