<section>

    <number
        name="Zoom Ratio"
        :dump="target.zoomRatio"
    ></number>

    <cc-color
        name="Background Color"
        :dump="target.backgroundColor"
    ></cc-color>

    <number
        name="Depth"
        :dump="target.depth"
    ></number>

    <number
        name="cullingMask"
        :dump="target.cullingMask"
    ></number>

    <div>
        <label>Culling Mask</label>
    </div>
    <div class="layout vertical">
        <ui-checkbox
            :value="everythingMask()"
            @change="everythingMaskChanged"
        ></ui-checkbox>
        <div v-for="(item, index) in groupList">
            <ui-checkbox
                :value="getCullingMask(index)"
                @change="cullingMaskChanged($event, index)"
            ></ui-checkbox>
        </div>
    </div>

    <div>
        <label>Clear Flags</label>
    </div>
    <div class="layout vertical">
        <div v-for="(item, index) in clearFlags">
            <ui-checkbox
                :value="getClearFlags(index)"
                @change="clearFlagsChanged($event, index)"
            ></ui-checkbox>
        </div>
    </div>

</section>