<cc-structure :dump="target">

    <boolean
        name="preview"
        :dump="target.preview"
    ></boolean>
    
    <boolean
        name="playOnLoad"
        :dump="target.playOnLoad"
    ></boolean>

    <boolean
        name="autoRemoveOnFinish"
        :dump="target.autoRemoveOnFinish"
    ></boolean>

    <cc-dragable
        name="file"
        :dump="target.file"
    ></cc-dragable>

    <boolean
        name="custom"
        :dump="target.custom"
        :tooltip="T('particle_system', 'custom')"
    >
       <!-- todo 
            <template  slot="suffix">
            <ui-button
                v-show="target.custom.value && target.file.value.uuid"
                :title="T('particle', 'sync_tips')"
                @confirm="applyPlistData"
            >{{T('particle', 'sync')}}</ui-button>

            <ui-button
                v-show="target.custom.value"
                :title="T('particle', 'export_title')"
                @confirm="applyPlistData"
            >{{T('particle', 'export')}}</ui-button>
        </template> -->
    </boolean>

    <template v-if="checkCustomShow(target.custom)">

        <cc-dragable
            name="spriteFrame"
            :dump="target.spriteFrame"
            :tooltip="T('particle_system', 'spriteFrame')"
        ></cc-dragable>

        <number
            name="duration"
            :dump="target.duration"
            :tooltip="T('particle_system', 'duration')"
        ></number>

        <number
            name="emissionRate"
            :dump="target.emissionRate"
            :tooltip="T('particle_system', 'emissionRate')"
        ></number>

        <div class="number vue-comp-ui">
            <div class="name">
                <i
                    :class="{
                        iconfont: true,
                        'icon-un-fold': true,
                        'icon-fold': false,
                        'is-visible': false
                    }"
                ></i>
                <span>{{target.life.name}}</span>
            </div>
            <div class="value">
                <ui-num-input class="flex-1" path="life" :value="target.life.value"></ui-num-input>
                <ui-num-input class="flex-1" path="lifeVar" :value="target.lifeVar.value"></ui-num-input>
            </div>
        </div>

        <number
            name="totalParticles"
            :dump="target.totalParticles"
            :tooltip="T('particle_system', 'totalParticles')"
        ></number>

        <cc-color
            name="startColor"
            :dump="target.startColor"
            :tooltip="T('particle_system', 'startColor')"
        ></cc-color>

        <cc-color
            :indent="1"
            name="startColorVar"
            :dump="target.startColorVar"
            :tooltip="T('particle_system', 'startColorVar')"
        ></cc-color>

        <cc-color
            name="endColor"
            :dump="target.endColor"
            :tooltip="T('particle_system', 'endColor')"
        ></cc-color>

        <cc-color
            :indent="1"
            name="endColorVar"
            :dump="target.endColorVar"
            :tooltip="T('particle_system', 'endColorVar')"
        ></cc-color>

        <div class="number vue-comp-ui">
            <div class="name">
                <i
                    :class="{
                        iconfont: true,
                        'icon-un-fold': true,
                        'icon-fold': false,
                        'is-visible': false
                    }"
                ></i>
                <span class="flex-1">{{target.angle.name}}</span>
            </div>
            <div class="value">
                <ui-num-input class="flex-1" path="angle" :value="target.angle.value"></ui-num-input>
                <ui-num-input class="flex-1" path="angleVar" :value="target.angleVar.value"></ui-num-input>
            </div>
        </div>
        
        <div class="number vue-comp-ui">
            <div class="name">
                <i
                    :class="{
                        iconfont: true,
                        'icon-un-fold': true,
                        'icon-fold': false,
                        'is-visible': false
                    }"
                ></i>
                <span class="flex-1">{{target.startSize.name}}</span>
            </div>
            <div class="value">
                <ui-num-input class="flex-1" path="startSize" :value="target.startSize.value"></ui-num-input>
                <ui-num-input class="flex-1" path="startSizeVar" :value="target.startSizeVar.value"></ui-num-input>
            </div>
        </div>
        
        <div class="number vue-comp-ui">
            <div class="name">
                <i
                    :class="{
                        iconfont: true,
                        'icon-un-fold': true,
                        'icon-fold': false,
                        'is-visible': false
                    }"
                ></i>
                <span class="flex-1">{{target.endSize.name}}</span>
            </div>
            <div class="value">
                <ui-num-input class="flex-1" path="endSize" :value="target.endSize.value"></ui-num-input>
                <ui-num-input class="flex-1" path="endSizeVar" :value="target.endSizeVar.value"></ui-num-input>
            </div>
        </div>
        
        <div class="number vue-comp-ui">
            <div class="name">
                <i
                    :class="{
                        iconfont: true,
                        'icon-un-fold': true,
                        'icon-fold': false,
                        'is-visible': false
                    }"
                ></i>
                <span class="flex-1">{{target.startSpin.name}}</span>
            </div>
            <div class="value">
                <ui-num-input class="flex-1" path="startSpin" :value="target.startSpin.value"></ui-num-input>
                <ui-num-input class="flex-1" path="startSpinVar" :value="target.startSpinVar.value"></ui-num-input>
            </div>
        </div>
        
        <div class="number vue-comp-ui">
            <div class="name">
                <i
                    :class="{
                        iconfont: true,
                        'icon-un-fold': true,
                        'icon-fold': false,
                        'is-visible': false
                    }"
                ></i>
                <span class="flex-1">{{target.endSpin.name}}</span>
            </div>
            <div class="value">
                <ui-num-input class="flex-1" path="endSpin" :value="target.endSpin.value"></ui-num-input>
                <ui-num-input class="flex-1" path="endSpinVar" :value="target.endSpinVar.value"></ui-num-input>
            </div>
        </div>

        <cc-vec2
            name="sourcePos"
            :dump="target.sourcePos"
            :tooltip="T('particle_system', 'sourcePos')"
        ></cc-vec2>

        <cc-vec2
            :indent="1"
            name="posVar"
            :dump="target.posVar"
            :tooltip="T('particle_system', 'posVar')"
        ></cc-vec2>

        <enum
            name="positionType"
            :dump="target.positionType"
            :tooltip="T('particle_system', 'positionType')"
        ></enum>
        
        <enum
            name="emitterMode"
            :dump="target.emitterMode"
            :tooltip="T('particle_system', 'emitterMode')"
        ></enum>

        <!-- gravity -->
        <div v-if="isGravityMode(target.emitterMode)">
            <cc-vec2
                :indent="1"
                name="gravity"
                :dump="target.gravity"
                :tooltip="T('particle_system', 'gravity')"
            ></cc-vec2>

            <div class="number vue-comp-ui">
                <div class="name">
                    <i
                        :class="{
                            iconfont: true,
                            'icon-un-fold': true,
                            'icon-fold': false,
                            'is-visible': false
                        }"
                    ></i>
                    <span class="flex-1">{{target.speed.name}}</span>
                </div>
                <div class="value">
                    <ui-num-input class="flex-1" path="speed" :value="target.speed.value"></ui-num-input>
                    <ui-num-input class="flex-1" path="speedVar" :value="target.speedVar.value"></ui-num-input>
                </div>
            </div>
            
            <div class="number vue-comp-ui">
                <div class="name">
                    <i
                        :class="{
                            iconfont: true,
                            'icon-un-fold': true,
                            'icon-fold': false,
                            'is-visible': false
                        }"
                    ></i>
                    <span class="flex-1">{{target.tangentialAccel.name}}</span>
                </div>
                <div class="value">
                    <ui-num-input class="flex-1" path="tangentialAccel" :value="target.tangentialAccel.value"></ui-num-input>
                    <ui-num-input class="flex-1" path="tangentialAccelVar" :value="target.tangentialAccelVar.value"></ui-num-input>
                </div>
            </div>

            <div class="number vue-comp-ui">
                <div class="name">
                    <i
                        :class="{
                            iconfont: true,
                            'icon-un-fold': true,
                            'icon-fold': false,
                            'is-visible': false
                        }"
                    ></i>
                    <span class="flex-1">{{target.radialAccel.name}}</span>
                </div>
                <div class="value">
                    <ui-num-input class="flex-1" path="radialAccel" :value="target.radialAccel.value"></ui-num-input>
                    <ui-num-input class="flex-1" path="radialAccelVar" :value="target.radialAccelVar.value"></ui-num-input>
                </div>
            </div>

            <boolean
                name="rotationIsDir"
                :dump="target.rotationIsDir"
                :tooltip="T('particle_system', 'rotationIsDir')"
            ></boolean>
        
        </div>
        
        <!-- radius -->
        <div v-if="isRadiusMode(target.emitterMode)">
            
            <div class="number vue-comp-ui">
                <div class="name">
                    <i
                        :class="{
                            iconfont: true,
                            'icon-un-fold': true,
                            'icon-fold': false,
                            'is-visible': false
                        }"
                    ></i>
                    <span class="flex-1">{{target.startRadius.name}}</span>
                </div>
                <div class="value">
                    <ui-num-input class="flex-1" path="startRadius" :value="target.startRadius.value"></ui-num-input>
                    <ui-num-input class="flex-1" path="startRadiusVar" :value="target.startRadiusVar.value"></ui-num-input>
                </div>
            </div>

            <div class="number vue-comp-ui">
                <div class="name">
                    <i
                        :class="{
                            iconfont: true,
                            'icon-un-fold': true,
                            'icon-fold': false,
                            'is-visible': false
                        }"
                    ></i>
                    <span class="flex-1">{{target.endRadius.name}}</span>
                </div>
                <div class="value">
                    <ui-num-input class="flex-1" path="endRadius"  :value="target.endRadius.value"></ui-num-input>
                    <ui-num-input class="flex-1" path="endRadiusVar" :value="target.endRadiusVar.value"></ui-num-input>
                </div>
            </div>
                
            <div class="number vue-comp-ui">
                <div class="name">
                    <i
                        :class="{
                            iconfont: true,
                            'icon-un-fold': true,
                            'icon-fold': false,
                            'is-visible': false
                        }"
                    ></i>
                    <span class="flex-1">{{target.rotatePerS.name}}</span>
                </div>
                <div class="value">
                    <ui-num-input class="flex-1" path="rotatePerS" :value="target.rotatePerS.value"></ui-num-input>
                    <ui-num-input class="flex-1" path="rotatePerSVar" :value="target.rotatePerSVar.value"></ui-num-input>
                </div>
            </div>            
            
        </div>

        <enum
            name="srcBlendFactor"
            :dump="target.srcBlendFactor"
        ></enum>
        
        <enum
            name="dstBlendFactor"
            :dump="target.dstBlendFactor"
        ></enum>

    </template>
    
</cc-structure>