<div class="general">

    <!-- 编辑器语言 -->
    <ui-prop
        :label="t('language', language)"
    >
        <ui-select slot="content"
            :value="settings.language"
            @confirm="_onSettingChanged($event, 'language')"
        >
            <option value="zh">中文</option>
            <option value="en">English</option>
        </ui-select>
    </ui-prop>

    <!-- 节点、资源管理器折叠状态的选择 -->
    <ui-prop
        :label="t('node_tree', language)"
    >
        <ui-select slot="content"
            :value="settings.node_tree"
            @confirm="_onSettingChanged($event, 'node_tree')"
        >
            <option value="expand_all">{{t('expand_all', language)}}</option>
            <option value="collapse_all">{{t('collapse_all', language)}}</option>
            <option value="memory_last_state">{{t('memory_last_state', language)}}</option>
        </ui-select>
    </ui-prop>

    <!-- UI 默认步进 -->
    <ui-prop
        :label="t('step', language)"
    >
        <ui-num-input slot="content"
            :value="settings.step"
            @confirm="_onSettingChanged($event, 'step')"
        ></ui-num-input>
    </ui-prop>

    <!-- 皮肤主题 -->
    <ui-prop
        :label="t('themeColor', language)"
    >
        <ui-select slot="content"
            :value="settings.theme_color"
            @confirm="_onSettingChanged($event, 'theme_color')"
        >
            <option value="default">default</option>
            <option value="light">light</option>
        </ui-select>
    </ui-prop>
</div>