<div class="preferences">
    <div class="slider"
        :tab="tab"
    >
        <div
            :active="tab === 'general'"
            @click="tab = 'general'"
        >{{t('nav.general', language)}}</div>
        <div
            :active="tab === 'edit'"
            @click="tab = 'edit'"
        >{{t('nav.edit', language)}}</div>
        <div
            :active="tab === 'extension'"
            @click="tab = 'extension'"
        >{{t('nav.extension', language)}}</div>
    </div>
    <section>
        <general
            v-if="tab === 'general'"
            :language="language"
        ></general>
        <edit
            v-if="tab === 'edit'"
            :language="language"
        ></edit>
        <extension
            v-if="tab === 'extension'"
            :language="language"
        ></extension>
    </section>
</div>