<div class="preferences">
    <div class="slider">
        <div
            :active="tab === 'general'"
            @click="tab = 'general'"
        >{{t('nav.general', language)}}</div>
        <div
            :active="tab === 'edit'"
            @click="tab = 'edit'"
        >{{t('nav.edit', language)}}</div>
    </div>
    <section>
        <general
            v-if="tab === 'general'"
            :language="language"
        ></general>
        <edit
            v-if="tab === 'edit'"
            :language="language"
        ></edit>
    </section>
</div>