<div class="content"  @click.right="reset">
    <section class="loading"
        v-if="loading"
    >
        <ui-loading></ui-loading>
    </section>

    <section
        v-else
    >
        <!-- 3D 项目的 inspector 模版 -->
        <template
            v-if="type === '3d'"
        >
            <asset-3d ref="asset"
                v-if="state.db === 'ready' && item.type === 'asset' && item.uuids.length"
                :uuids="item.uuids"
                :language="language"
                :width="width"
            ></asset-3d>

            <node-3d ref="node"
                v-if="state.scene === 'ready' && item.type === 'node' && item.uuids.length"
                :uuids="item.uuids"

                :width="width"
                :height="height"
                :language="language"
            ></node-3d>
        </template>
    </section>
</div>
