.asset {
    header {
        padding: 4px 8px 6px 8px;
        border-bottom: 1px solid #666;
    }
    .fit {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .flex {
        display: flex;
    }

    .flex-1 {
        flex: 1;
    }
    .image-label {
        display: flex;
        justify-content: center;
    }
    ui-prop > div[slot='content'] {
        margin: 3px 0;
        width: 100%;
        flex-wrap: wrap;
        display: flex;
    }
    ui-prop > div[slot='content'] > ui-prop {
        --left-width: auto;
        --right-width: auto;
        --label-min-width: 1em;
        max-width: 48%;
        flex-grow: 1;
        margin-right: 2%;
        margin-bottom: 5px;
    }

    ui-prop.vector > div[slot='content'] {
        margin-right: -1.5%;
    }
}
