.asset {
    .asset-wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .asset-header {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: center;
        padding-bottom: 2px;
        margin: 5px 10px 10px;
        border-bottom: 1px solid rgb(102, 102, 102);
        height: 24px;
        overflow: hidden;
        .css-icon {
            margin-right: 5px;
        }
        .css-title {
            font-weight: bold;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .props {
        overflow-x: hidden;
        overflow-y: scroll;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .flex {
        display: flex;
    }

    .flex-1 {
        flex: 1;
    }
    .image-label {
        display: flex;
        justify-content: center;
    }
    ui-prop > div[slot='content'] {
        margin: 3px 0;
        width: 100%;
        flex-wrap: wrap;
        display: flex;
    }
    ui-prop > div[slot='content'] > ui-prop {
        --left-width: auto;
        --right-width: auto;
        --label-min-width: 1em;
        max-width: 48%;
        flex-grow: 1;
        margin-right: 2%;
        margin-bottom: 5px;
    }

    ui-prop.vector > div[slot='content'] {
        margin-right: -1.5%;
    }
    .platform-setting {
        background: rgba(105, 105, 105, 0.45);
        margin-top:10px;
        text-align: center;
    }
    .platforms > .platform-item {
        flex: 1;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
        &.active {
            background: black;
        }
        .iconfont {
            font-size: 16px;
        }
    }
    .settings {
        border-top: rgba(43, 40, 40, 0.52) solid 2px;
        ui-select {
            margin:10px 0;
        }
        .setting-item {
            line-height: 24px;
            border-top:rgba(0, 0, 0, 0.58) dashed 1px;
            padding: 5px 15px;
            .left {
                margin-right: 10px;
            }
        }
    }
}
