:host {
    display: flex;
}

.content {
    flex: 1;
    position: relative;
    overflow: auto;
    padding: 10px;
}

.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.loading ui-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.5em;
}
/*------------------ layout --------------*/
.fit {
    position: absolute;
    top: 0;
}
.fit,
.fixed-bottom,
.fixed-left {
    bottom: 0;
    left: 0;
}
.fit,
.fixed-bottom,
.fixed-top {
    right: 0;
}
.layout.vertical {
    flex-direction: column;
}
.layout.horizontal,
.layout.horizontal-reverse,
.layout.vertical,
.layout.vertical-reverse {
    display: flex;
}

ui-checkbox {
    margin-right: 0.25em;
}
ui-prop {
    ui-input,
    ui-num-input,
    ui-select,
    ui-color {
        flex: 1;
    }
    & > div[slot='content'] {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > ui-prop {
            --left-width: 20%;
            --right-width: 85%;
            --label-max-width: 15px;
            --label-min-width: 10px;
            height: 2em;
            max-width: calc(50% - 10px);
            flex-grow: 1;
            margin-bottom: 5px;
            margin-right: 10px;
        }
    }
}

ui-prop.vector > div[slot='content'] {
    margin-right: -10px;
}
.indent {
    padding-left: 13px;
}

@import '../iconfont.less';
@import './asset';
@import './node';
