.node {
    .rgap {
        margin-right: 0.25em;
    }
    .top-header {
        display: flex;
        align-items: center;
        margin: 5px 0;
        overflow: hidden;
    }

    .flex {
        display: flex;
    }

    .align-item {
        align-items: center;
    }

    .flex-1 {
        flex: 1;
    }

    ui-section {
        .header {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;
            flex: 1;
        }
    }

    ui-input,
    ui-num-input {
        color: #fff;
    }

    .header {
        display: flex;
        align-items: center;
    }
    .mt20 {
        margin-top: 20px;
    }
    .mb20 {
        margin-bottom: 20px;
    }
    .center-center {
        align-items: center;
        justify-content: center;
    }
}
