.node {

    & > header {
        padding: 4px 8px 6px 8px;
    }

    & > section {
        border-top: 1px solid #666;

        & > div {
            display: flex;
            padding: 6px 0;
        }

        .name {
            display: inline-block;
            width: 50px;
        }

        .flex {
            display: flex;
        }

        .flex-1 {
            flex: 1;
        }

        ui-input, ui-num-input {
            color: #fff;
        }
    }
}