<div class="animator"
    @confirm="onConfirm"
    @keydown="onKeyDown"
>
    <div class="container">
        <div class="left" ref="left">
            <tool-bar
                @datachange="onToolBar"
                :time="currentTime"
                :root="root"
                :state="animationState"
            >
            </tool-bar>
            <div class="flex-1 content nodes"
                ref="nodes"
                @scroll="onScroll($event, 'node')"
            >
                
            <template v-if="nodeDump">
                <node-tree
                    v-for="(item, index) of nodeDump.nodes"
                    :dumps="item"
                    :select="selectedId"
                    :uuid="currentClip"
                    :key="index"
                    @datachange="onNodes"
                ></node-tree>
            </template>
                <!-- <div class="wrap"
                    :style="{height: nodesHeight + 'px'}"
                    v-if="nodeDump"                 
                >
                    <node-tree 
                        v-for="item of nodeDump.nodes"
                        :dumps="item"
                        :select="selectedId"
                        :uuid="currentClip"
                    ></node-tree>
                </div> -->
            </div>
            <property-tools
                :uuid="selectedId"
                :update-flag="selectDataChange"
                @datachange="onProperty"
            ></property-tools>
            <div class="flex-1 content propertys" 
                v-if="properties && Object.keys(properties).length > 0" 
                @scroll="onScroll($event, 'property')"
            >    
                <property-tree v-for="(item, name) in properties" 
                    :key="name" 
                    :name="name"
                    :prop="item.prop"
                    :comp="item.comp"
                    :info="item.dump"
                    :frame="currentFrame"
                    @datachange="onProperty"
                ></property-tree>
            </div>
        </div>
        <div class="right control" ref="right" 
            @mousewheel = "onMouseWheel"
            @mousedown = "onMouseDown"
            @mousemove = "onMouseMove"
        >
            <div class="content-device header" 
                name="time-pointer"
            >
                <div class="duration"
                    v-if="lastFrameInfo"
                    :style="queryDurationStyle(lastFrameInfo.frame)"
                ></div> 
            </div>
            <events
                    v-if="eventsDump"
                    :events="eventsDump"
                    :offset="startOffset"
                    :select-Info="selectEventInfo"
                    :copy-info="copyEventInfo"
                    @datachange="onEvents"
                    @startdrag="updateDragInfo"
                >
            </events>
            <div class="content" 
                ref="node-content"
            >
                <div class="wrap"
                    :style="{height:nodesHeight+'px'}"
                >
                    <template
                        v-if="grid && nodeDump && clipDump"
                    >
                        <preview-row 
                            v-for="(item, index) in nodeDump.nodes"
                            :path="item.path"
                            :key-frames=calcNodeFrames(item.path)
                            :index="index"
                            :select-Info="selectKeyInfo"
                            :key="index"
                            :canvas-size="canvasSize"
                            :scroll="nodeScrollInfo"
                            @datachange="onPreviewRow"
                            @startdrag="updateDragInfo"
                        ></preview-row>
                    </template>
                </div>
            </div> 
            <div class="property-tools">
                <span>mouseFrame:</span>
                <span>{{mouseFrame || 0}}</span>
                <span>wrapMode</span>
                <ui-select 
                    :value="clipDump ? clipDump.wrapMode : 0"
                    name="wrapMode"
                >
                    <option value="0">Default</option>
                    <option value="1">Normal</option>
                    <option value="2">Loop</option>
                    <option value="22">PingPong</option>
                    <option value="36">Reverse</option>
                    <option value="38">LoopReverse</option>
                </ui-select>
            </div> 
            <div class="content"
                ref="property-content"
            >
                <div
                    class="wrap"
                    v-if="grid && clipDump && properties"
                    :style="{height:propertyHeight+'px'}"
                >
                    <template
                        v-for="(name, index) in Object.keys(properties)"
                    >
                        <preview-row 
                            :key-frames=properties[name].keyFrames
                            :path="selectPath"
                            :select-Info="selectKeyInfo"
                            :copy-info="copyKeyInfo"
                            :name="name"
                            :index="index"
                            :comp="properties[name].comp"
                            :prop="properties[name].prop"
                            :canvas-size="canvasSize"
                            :scroll="propertyScrollInfo"
                            @datachange="onPreviewRow"
                            @startdrag="updateDragInfo"
                        ></preview-row>
                    </template>
                </div>
            </div> 
            <control-preview 
                :position="pointerPosition"
                :offset="startOffset"
                @startdrag="updateDragInfo"
            ></control-preview>
        </div>
    </div>
    <canvas 
    ref="gridCanvas"
    id="gridCanvas"
    ></canvas>
    <div class="foot">
        <div class="left">
            <ui-button name="exit">退出</ui-button>
            <span>Clips</span>
            <ui-select v-if="clipsMenu && clipsMenu.length > 0" name="clip" :value="currentClip">
                <option v-for="item in clipsMenu" :value="item.uuid">{{item.name}}</option>
            </ui-select>
        </div> 
        <div class="right" v-if="clipDump">
            <span>sample</span>
            <ui-num-input :value="clipDump.sample" step="1" name="sample"></ui-num-input>
            <span>speed</span>
            <ui-num-input :value="clipDump.speed" name="speed"></ui-num-input>
            <span v-if="clipDump.duration">Duration :{{clipDump.duration.toFixed(2)}}({{(clipDump.duration / clipDump.speed).toFixed(2)}})s</span>
        </div> 
    </div>
    <event-editor
        v-if="showEventEditor"
        :events="eventsDump"
        :frame="selectEventFrame"
        :uuid="currentClip"
        @close="showEventEditor = false"
    ></event-editor>
    <bezier-editor
        v-if="showBezierEditor"
        :keyframe="currentBezierData"
        :uuid="currentClip"
        @datachange="onPreviewRow"
    ></bezier-editor>
    <tips-mask
        v-if = "!animationMode"
        :root = "root"
        :animation-mode = "animationMode"
        :has-comp = "hasAnimationComp"
        :has-clip = "hasAniamtionClip"
        :comp-index = "compIndex"
    ></tips-mask>
    <div class="loading" v-if="loading">
        动画数据载入中，请稍等.......
    </div>
</div>