<div class="animator"
    @confirm="onConfirm"
    @keydown="onKeyDown"
>
    <div class="container">
        <div class="left" ref="left">
            <tool-bar
                @datachange="onToolBar"
                :time="currentTime"
                :root="root"
                :state="animationState"
            >
            </tool-bar>
            <div class="flex-1 content nodes"
                ref="nodes"
                @scroll="onScroll($event, 'node')"
            >
            <template v-if="nodes">
                <node-tree
                    v-for="(item, index) of nodes"
                    :dumps="item"
                    :select-path="computeSelectPath"
                    :uuid="currentClip"
                    :key="index"
                    :move-path = "moveNodePath"
                    :lock="clipDump && clipDump.isLock"
                    @datachange="onNodes"
                ></node-tree>
            </template>
            </div>
            <property-tools
                :menu="propertiesMenu"
                @datachange="onProperty"
            ></property-tools>
            <div 
                id="properties"
                class="flex-1 content properties"
                @scroll="onScroll($event, 'property')"
            >
                <template
                    v-if="properties && Object.keys(properties).length > 0" 
                >
                    <property-tree v-for="(item, name) in properties" 
                        :key="name" 
                        :name="name"
                        :prop="item.prop"
                        :comp="item.comp"
                        :info="item.dump"
                        :missing="item.missing"
                        :frame="currentFrame"
                        :select="selectProperty"
                        @datachange="onProperty"
                    ></property-tree>
                </template>
            </div>
        </div>
        <div class="right control" ref="right" 
            @mousewheel="onMouseWheel"
            @mousedown="onMouseDown"
            @mousemove="onMouseMove"
        >
            <div class="content-device header" 
                name="time-pointer"
            >
                <div class="duration"
                    v-if="lastFrameInfo"
                    :style="queryDurationStyle(lastFrameInfo.frame)"
                ></div>
            </div>
            <events
                    v-if="eventsDump"
                    :events="eventsDump"
                    :offset="startOffset"
                    :select-Info="selectEventInfo"
                    :copy-info="copyEventInfo"
                    @datachange="onEvents"
                    @startdrag="updateDragInfo"
                >
            </events>
            <div class="content" 
                ref="node-content"
                name="node"
            >
                <div class="wrap"
                    :style="{height:nodesHeight+'px'}"
                >
                    <template
                        v-if="grid && nodeDump && clipDump"
                    >
                        <preview-row 
                            v-for="(item, index) in nodes"
                            :param="[item.path]"
                            :key-frames=calcNodeFrames(item.path)
                            :index="index"
                            :select-Info="selectKeyInfo"
                            :scroll="nodeScrollInfo"
                            @datachange="onPreviewRow"
                            @startdrag="updateDragInfo"
                            :key="index + item.path"
                            :box="boxData"
                            :select="selectePath"
                            :lock="clipDump && clipDump.isLock"
                        ></preview-row>
                    </template>
                </div>
                <template v-if="boxStyle && boxInfo && boxInfo.type === 'node'">
                    <div class="box" :style="boxStyle"></div>
                </template>
            </div> 
            <div class="property-tools">
                <span>WrapMode</span>
                <ui-select 
                    :value="clipDump ? clipDump.wrapMode : 0"
                    :disabled="clipDump && clipDump.isLock"
                    name="wrapMode"
                >
                    <option value="0">Default</option>
                    <option value="1">Normal</option>
                    <option value="2">Loop</option>
                    <option value="22">PingPong</option>
                    <option value="36">Reverse</option>
                    <option value="38">LoopReverse</option>
                </ui-select>
            </div> 
            <div class="content"
                ref="property-content"
                name="property"
            >
                <div
                    class="wrap"
                    v-if="properties"
                    :style="{height:propertyHeight+'px'}"
                >
                    <template
                        v-for="(item, name, index) in properties"
                    >
                        <preview-row
                            
                            :key-frames=item.keyFrames
                            :param="[computeSelectPath, item.comp, item.prop]"
                            :select-Info="selectKeyInfo"
                            :copy-info="copyKeyInfo"
                            :name="name"
                            :index="index"
                            :scroll="propertyScrollInfo"
                            @datachange="onPreviewRow"
                            @startdrag="updateDragInfo"
                            :key="index"
                            :box="boxData"
                            :lock="clipDump && clipDump.isLock"
                        ></preview-row>
                    </template>
                </div>
                <template v-if="boxStyle && boxInfo && boxInfo.type === 'property'">
                    <div class="box" :style="boxStyle"></div>
                </template>
            </div>
            <!-- <control-preview 
                :position="pointerPosition"
                :offset="startOffset"
                @startdrag="updateDragInfo"
            ></control-preview> -->
            <div class="contrl-pointer"
                name = "pointer"
                :style="'transform: translateX('+ pointerPosition +'px)'"
            >
                <i class="iconfont icon-arrow-right"></i>
                <span></span>
            </div>
            <!-- 辅助小红线 -->
            <template
                v-if="previewPointer"
            >
                <div class="contrl-pointer preview"
                    :style="'transform: translateX('+ previewPointer.x +'px)'"
                >
                    <i class="iconfont icon-arrow-right"></i>
                    <span></span>
                </div>
                <div class="mouse-info"
                    :style="'transform: translate('+previewPointer.x+'px,'+previewPointer.y+'px)'"
                >
                    {{previewPointer.frame}}
                </div>
            </template>
            <!-- 显示当前鼠标moveInfo移动过程中的关键帧信息 -->
            <template v-if="moveInfo">
                <div class="keyframe-move-info" 
                    :style="'transform: translate('+moveInfo.x+'px,'+moveInfo.y+'px)'"
                >
                    <div v-if="typeof(moveInfo.frame) === 'number'">
                        <span class="name">frame</span>
                        <span>: {{moveInfo.frame}}</span>
                    </div>
                    <div v-if="typeof(moveInfo.offsetFrame) === 'number'">
                        <span class="name">offset</span>
                        <span>: {{moveInfo.offsetFrame}}</span>
                    </div>
                </div>
            </template>
        </div>
    </div>
    <canvas 
    ref="gridCanvas"
    id="gridCanvas"
    ></canvas>
    <div class="foot">
        <div class="left">
            <span>Clips</span>
            <ui-select v-if="clipsMenu && clipsMenu.length > 0" name="clip" :value="currentClip">
                <option v-for="item in clipsMenu" :key="item.uuid" :value="item.uuid">{{item.name}}</option>
            </ui-select>
        </div> 
        <div class="right" v-if="clipDump">
            <span>Sample</span>
            <ui-num-input :value="clipDump.sample" :disabled="clipDump.isLock" step="1" name="sample"></ui-num-input>
            <span>Speed</span>
            <ui-num-input :value="clipDump.speed" :disabled="clipDump.isLock" name="speed"></ui-num-input>
            <span v-if="clipDump.duration">Duration :{{clipDump.duration.toFixed(2)}}({{(clipDump.duration / clipDump.speed).toFixed(2)}})s</span>
        </div> 
    </div>
    <event-editor
        v-if="showEventEditor"
        :events="eventsDump"
        :frame="selectEventFrame"
        :uuid="currentClip"
        @close="showEventEditor = false"
    ></event-editor>
    <bezier-editor
        v-if="showBezierEditor"
        :keyframe="currentBezierData"
        :uuid="currentClip"
        @datachange="onPreviewRow"
    ></bezier-editor>
    <tips-mask
        v-if = "!animationMode"
        :root = "root"
        :animation-mode = "animationMode"
        :has-comp = "hasAnimationComp"
        :has-clip = "hasAniamtionClip"
        :comp-index = "compIndex"
    ></tips-mask>
    <div class="loading" v-if="loading">
        {{t('loading_tips')}}
    </div>
</div>