.animator {
  display: flex;
  height: 100%;
  flex-direction: column;
  user-select: none;
}
.animator #gridCanvas {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  overflow: hidden;
}
.animator .flex-1 {
  flex: 1;
}
.animator .content-device {
  height: 35px;
  line-height: 30px;
}
.animator .content {
  width: 100%;
  height: 44%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.animator .content-item {
  line-height: 26px;
  height: 26px;
}
.animator .content-item:nth-child(even) {
  background: rgba(95, 90, 90, 0.25);
}
.animator .content-item:nth-child(odd) {
  background: rgba(20, 20, 20, 0.25);
}
.animator .mask {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.66);
  width: 100%;
  height: 100%;
}
.animator .loading {
  position: absolute;
  z-index: 20;
  background-color: #000000;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}
.animator .container {
  display: flex;
  height: 90vh;
  flex: 1;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.animator .container > .right,
.animator .container > .left {
  flex-direction: column;
  line-height: 26px;
}
.animator .container > .right {
  flex: 1;
  position: relative;
  overflow: hidden;
}
.animator .container > .right .content {
  overflow: hidden;
}
.animator .container > .right .property-tools {
  position: relative;
  justify-content: flex-end;
  z-index: 2;
}
.animator .container > .right .property-tools span {
  margin: 0 5px;
}
.animator .container > .right .contrl-pointer {
  position: absolute;
  top: 24px;
  left: 10px;
  height: 100%;
  width: 1px;
  padding-top: 2px;
  z-index: 1;
  cursor: ew-resize;
  background-color: red;
}
.animator .container > .right .contrl-pointer .icon-arrow-right {
  transform: rotate(90deg);
  position: absolute;
  top: -17px;
  left: -6px;
}
.animator .container > .left {
  width: 260px;
}
.animator .container > .left .toolbar {
  background-color: var(--main-bg);
  box-shadow: 0px 1px 0px #585858 inset;
  padding: 0 5px;
}
.animator .container > .left .toolbar .iconfont {
  margin: 0 5px;
  cursor: pointer;
}
.animator .container > .left .toolbar .iconfont:hover {
  color: #ccc;
}
.animator .container > .left .toolbar .time {
  float: right;
  padding: 2px 4px;
  min-width: 60px;
}
.animator .container > .left .toolbar .time span {
  box-shadow: 0px 1px 0px #585858 inset;
  background: var(--main-dark-bg);
  display: inline-block;
  width: 100%;
  line-height: 20px;
  text-align: right;
  padding: 1px 4px;
}
.animator .container > .left .nodes,
.animator .container > .left .propertys {
  background: var(--main-dark-bg);
}
.animator .foot {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  z-index: 2;
  padding: 4px 10px;
  display: flex;
  justify-content: space-between;
  background-color: var(--main-bg);
  border-top: 1px solid var(--main-dark-bg);
}
.animator .foot ui-num-input {
  width: 80px;
}
.animator .foot .right {
  display: flex;
  justify-content: flex-end;
}
.animator .foot span {
  line-height: 22px;
  margin: 0 5px;
}
.nodes .content-item {
  text-indent: 10px;
  height: auto;
}
.nodes .node {
  position: relative;
}
.nodes .node .operate {
  display: none;
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
}
.nodes .node:hover {
  background-color: #6d6969;
  color: white;
}
.nodes .node:hover .operate {
  display: flex;
}
.nodes .node[selected] {
  background-color: #1f537d;
}
.property-tools {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  height: 24px;
  line-height: 24px;
  background-color: #545353;
  padding: 8px;
}
.property-tools .iconfont {
  margin: 0 5px;
}
.property-tools .iconfont:hover {
  color: #ccc;
  cursor: pointer;
}
.events {
  position: relative;
  height: 100%;
  line-height: 16px;
  z-index: 1;
}
.events .iconfont {
  position: absolute;
  bottom: -2px;
  color: #ceb56e;
  transition: all 0.5ms;
  font-size: 10px;
}
.events .iconfont:hover {
  color: #f90;
  font-size: 16px;
  cursor: pointer;
}
.events .duration {
  z-index: 1;
  height: 100%;
  background: #e8e39e2e;
  pointer-events: none;
}
.tips-mask {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tips-mask .tips {
  text-align: center;
}
.tips-mask .message {
  font-size: 20px;
  margin-bottom: 15px;
}
.tips-mask ui-button {
  padding: 6px 15px;
}
.preview-row {
  position: relative;
}
.preview-row .line {
  height: 8px;
  position: absolute;
  top: 8px;
  background-color: #1f537d;
}
.preview-row .line:hover {
  background: #497ea9;
  cursor: pointer;
}
.preview-row .dot {
  width: 10px;
  height: 10px;
  background-color: #3EA6F9;
  transform: rotate(45deg);
  border-radius: 2.5px;
  transition: background-color 0.3s;
}
.preview-row .key,
.preview-row .v-key {
  position: absolute;
  top: 8px;
}
.preview-row .key {
  z-index: 2;
}
.preview-row .v-key {
  opacity: 0.5;
  z-index: 1;
}
.preview-row .key.active,
.preview-row .key:hover {
  cursor: pointer;
}
.preview-row .key.active .dot,
.preview-row .key:hover .dot {
  background-color: #baffff;
}
.property {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.property .name {
  width: 80%;
  flex: 1;
}
.property .oprate {
  display: flex;
  width: 40px;
  justify-content: space-around;
  position: relative;
}
.property .oprate .key {
  margin-top: 7px;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 1px solid #3EA6F9;
  transform: rotate(45deg);
  border-radius: 2.5px;
}
.property .oprate .key:hover {
  cursor: pointer;
  border: 1px solid #baffff;
}
.property .oprate .key[empty] {
  background-color: #3EA6F9;
}
.property .oprate .key[empty]:hover {
  background-color: #baffff;
}
.property:hover .oprate {
  display: flex;
}
.property:hover .iconfont {
  cursor: pointer;
}
#event-editor {
  line-height: 24px;
}
#event-editor .content {
  width: 400px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: #312f2f;
  display: flex;
  flex-direction: column;
}
#event-editor .content > .header {
  height: 24px;
  background: #4b4747;
  padding: 5px;
}
#event-editor .content > .header .name {
  margin: 0 5px;
}
#event-editor .content > .functions {
  padding: 10px;
  overflow-y: auto;
  flex: 1;
  height: 100%;
}
#event-editor ui-section,
#event-editor ui-input,
#event-editor ui-checkbox,
#event-editor ui-num-input {
  width: 100%;
}
#event-editor ui-checkbox {
  margin-top: 7px;
}
#event-editor .iconfont:hover {
  cursor: pointer;
  color: #ccc;
}
#event-editor .tools {
  display: flex;
  justify-content: flex-end;
}
#event-editor .line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 8px;
}
#event-editor .line .name {
  min-width: 8px;
}
#event-editor .line > * {
  margin-right: 5px;
}
#event-editor .params {
  border: 1px rgba(136, 136, 136, 0.35) dashed;
  border-radius: var(--border-radius-n);
}
#event-editor .header .iconfont,
#event-editor .params .iconfont {
  margin: 0 5px;
}
.bezier-editor {
  display: flex;
  justify-content: center;
  text-align: center;
}
.bezier-editor .content {
  flex: 1;
  width: 800px;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.bezier-editor .content > .left {
  width: 100%;
  flex: 1;
  background: #424141;
  position: relative;
}
.bezier-editor .content > .left svg {
  width: 100%;
  height: 100%;
}
.bezier-editor .content > .right {
  width: 200px;
  background: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.bezier-editor .content > .right h2 {
  line-height: 30px;
}
.bezier-editor .content > .right .presets {
  height: 100%;
  flex: 1;
  margin: 10px;
  border-radius: 5px;
  background: #424141;
  overflow-y: auto;
}
.bezier-editor .content > .right .presets .preset-item {
  margin: 15px;
}
.bezier-editor .content > .right .presets svg {
  cursor: pointer;
  border-bottom: 1px solid #7b7575;
  border-left: 1px solid #7b7575;
  width: 100px;
  height: 100px;
  stroke: #279DFF;
  stroke-width: 0.01px;
  fill: none;
}
.bezier-editor .content .bezier {
  stroke-width: 0.01px;
  stroke: #184c76;
  fill: none;
}
.bezier-editor .content .bezier line {
  stroke: rgba(156, 148, 145, 0.7);
  stroke-width: 0.01px;
}
.bezier-editor .content .bezier circle:hover {
  cursor: pointer;
}
.bezier-editor .content .bezier .ctrl-1 {
  stroke-width: 0.02px;
  stroke: rgba(156, 148, 145, 0.7);
  fill: #f90;
}
.bezier-editor .content .bezier .ctrl-2 {
  stroke-width: 0.02px;
  stroke: rgba(156, 148, 145, 0.7);
  fill: #658b3a;
}
.bezier-editor .content .axis {
  stroke-width: 0.002px;
  stroke: #cecdcd;
  fill: none;
}
.bezier-editor .content .axis text {
  font-size: 0.05px;
}
.bezier-editor .content .toolbar {
  position: absolute;
  width: 160px;
  height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: space-around;
  right: 10px;
  top: 10px;
  border-radius: 5px;
  background: #333;
}
.bezier-editor .content .toolbar .iconfont:hover {
  cursor: pointer;
  color: white;
}
.iconfont {
  vertical-align: sub;
  font-family: 'animator' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-edit:before {
  content: "\e61f";
}
.icon-pause:before {
  content: "\e650";
}
.icon-arrow-right:before {
  content: "\e6df";
}
.icon-add:before {
  content: "\e64d";
}
.icon-stop:before {
  content: "\f0db";
}
.icon-refresh-b:before {
  content: "\e620";
}
.icon-last:before {
  content: "\e619";
}
.icon-next:before {
  content: "\e61b";
}
.icon-rewind:before {
  content: "\e73d";
}
.icon-frame:before {
  content: "\e6cc";
}
.icon-frame-active:before {
  content: "\e74b";
}
.icon-event:before {
  content: "\e633";
}
.icon-save:before {
  content: "\e707";
}
.icon-del:before {
  content: "\e677";
}
.icon-del-b:before {
  content: "\e65a";
}
.icon-clear:before {
  content: "\e64a";
}
.icon-clear-b:before {
  content: "\e648";
}
.icon-exit:before {
  content: "\e646";
}
.icon-close:before {
  content: "\e656";
}
.icon-move:before {
  content: "\e6e2";
}
.icon-save-b:before {
  content: "\e668";
}
.icon-list:before {
  content: "\e609";
}
.icon-forward:before {
  content: "\e73c";
}
