
.animator {
    display: flex;
    height: 100%;
    flex-direction: column;
    user-select: none;
    #gridCanvas {
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none;
        overflow: hidden;
    }

    // 公共全局样式
    .flex-1 {
        flex: 1;
    }
    .content-device {
        height: 33px;
        line-height: 28px;
        .duration {
            z-index: 1;
            height: 100%;
            background: #e8e39e2e;
            pointer-events: none;
        }
    }
    .content {
        width: 100%;
        height: 44%;
        flex: 1;
        overflow-y: auto;
    }
    .content-item {
        line-height: 24px;
        height: 24px;
        &:nth-child(even) {
            background: rgba(95, 90, 90, 0.25);
        }
        &:nth-child(odd) {
            background: rgba(20, 20, 20, 0.25);
        }
    }
    .mask {
        position: absolute;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.66);
        width: 100%;
        height: 100%;
    }
    // 
    .loading {
        position: absolute;
        z-index: 20;
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container {
        display: flex;
        height: 90vh;
        flex: 1;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        & > .right, & > .left {
            flex-direction: column;
            line-height: 20px;
        }
        & > .right {
            flex: 1;
            position: relative;
            overflow: hidden;
            .content {
                overflow: hidden;
            }
            .property-tools {
                position: relative;
                justify-content: flex-end;
                z-index: 2;
                span {
                    margin: 0 5px;
                }
            }
            .contrl-pointer {
                position: absolute;
                top: 14px;
                left: 5px;
                height: 100%;
                padding-top: 2px;
                cursor: ew-resize;
                border: 4px solid transparent;
                & > * {
                    pointer-events: none;
                }
                .icon-arrow-right {
                    transform: rotate(90deg);
                    position: absolute;
                    top: -11px;
                    left: -5px;
                    font-size: 9px;
                }
                span {
                    display: inline-block;
                    width: 1px;
                    background-color: red;
                    height: 100%;                    
                }
            }
        }
        & > .left {
            width: 260px;
            .toolbar {
                background-color: var(--main-bg);
                box-shadow: 0px 1px 0px #585858 inset;
                padding:  0 5px;
                .iconfont {
                    margin: 0 5px;
                    cursor: pointer;
                }
                .iconfont:hover {
                    color: #ccc;
                }
                .time {
                    float: right;
                    padding: 2px 4px;
                    min-width: 60px;
                    span {
                        box-shadow: 0px 1px 0px #585858 inset;
                        background: var(--main-dark-bg);
                        display: inline-block;
                        width: 100%;
                        line-height: 20px;
                        text-align: right;
                        padding: 1px 4px;
                    }
                }
            }
            .nodes,.propertys{
                background: var(--main-dark-bg);
            }
        }
    }
    .foot {
        position: absolute;
        box-sizing: border-box;
        bottom: 0;
        width: 100%;
        z-index: 2;
        padding: 4px 10px;
        display: flex;
        justify-content: space-between;
        background-color: var(--main-bg);
        border-top: 1px solid var(--main-dark-bg);
        ui-num-input {
            width: 80px;
        }
        ui-button {
            height: 22px;
            line-height: 13px;
        }
        .right {
            display: flex;
            justify-content: flex-end;
        }
        span {
            line-height: 20px;
            margin: 0 5px;
        }
    }

}

///////////////////// node-tree //////////////////////////////
.nodes {
    .content {
        overflow: auto;
    }
    .content-item {
        width: 100%;
        text-indent: 10px;
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        box-sizing: border-box;
        .operate {
            display: none;
            position: absolute;
            right: 10px;
            top:0;
            cursor: pointer;
        }
    }
    .content-item:hover {
        background-color: #6d6969;
        color: white;
        .operate {
            display: flex;
        }
    }
    .content-item[selected] {
        background-color: #1f537d;
    }
}

//////////////////////////// property-tools /////////////////////////////////////////////
.property-tools {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    height: 24px;
    line-height: 24px;
    background-color: #545353;
    padding: 2px 8px;
    .iconfont {
        vertical-align: middle;
    }
    .iconfont:hover {
        color: #ccc;
        cursor: pointer;
    }
}

/////////////////////////// events ///////////////////////////////////////////////////////
.events {
    position: relative;
    line-height: 16px;
    z-index: 2;
    .iconfont {
        position: absolute;
        bottom: -2px;
        color: #ceb56e;
        transition: all 0.5ms;
        font-size: 10px;
    }
    .iconfont:hover {
        color: #e0dc2f;
        // font-size: 16px;
        cursor: pointer;
    }
    .iconfont.preview {
        color: #e0dc2f;
        pointer-events: none;
    }
}

///////////////////////////// tips-mask //////////////////////////////////////////////////////////
.tips-mask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .tips {
        text-align: center;
    }
    .message {
        margin-bottom: 15px;
    }
    ui-button {
        padding: 6px 15px;
    }
}

//////////////////////////// preview-row ////////////////////////////////////////////////////////////
@size-key: 10px;
@h-line: 8px;
@c-key: #3EA6F9;
@c-key-active: #baffff;
@c-line: #1f537d;
@c-line-hover: #497ea9;
.preview-row {
    width: 100%;
    position: absolute;
    .line {
        height: @h-line;
        position: absolute;
        top: 5px;
        background-color: @c-line;
        z-index: 2;
    }
    .line:hover {
        background: @c-line-hover;
        cursor: pointer;
    }
    .dot {
        width: @size-key;
        height: @size-key;
        background-color: @c-key;
        transform: rotate(45deg);
        border-radius: @size-key / 4;
        transition: background-color 0.3s;
        pointer-events: none;
    }
    .key, .v-key {
        position: absolute;
        top: 5px;
    }
    .key, .sprite {
        z-index: 2;
    }
    .v-key {
        opacity: 0.5;
        z-index: 1;
    }
    .key.active, .key:hover {
        cursor: pointer;
        .dot {
            background-color: @c-key-active;
            pointer-events: none;
        }
    }
    .sprite {
        position: absolute;
        height: 100%;
        img {
            height: 22px;
            min-width: 24px;
            border: 1px solid #635f5f;
            pointer-events: none;
            transition: all 0.5s;
        }

        img[src] {
            width: auto;
        }
    }
    .sprite-key {
        height: 100%;
        min-width: 10px;
    }
    .sprite:hover {
        cursor: pointer;
        img {
            border-color: @c-key-active;
        }
    }
    .sprite.active {
        img {
            border-color: @c-key-active;
        }
    }

}


///////////////////// property-tree ///////////////////////////////////////////////
.property {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    .name {
        width: 80%;
        flex: 1;
    }
    .oprate {
        display: flex;
        width: 40px;
        justify-content: space-around;
        position: relative;
        .key {
            margin-top: 5px;
            width: @size-key * 0.8;
            height: @size-key * 0.8;
            background-color:transparent;
            border: 1px solid @c-key;
            transform: rotate(45deg);
            border-radius: @size-key / 4;
        }
        .key:hover {
            cursor: pointer;
            border: 1px solid @c-key-active;
        }
        .key[empty] {
            background-color: @c-key;
        }
        .key[empty]:hover {
            background-color: @c-key-active;
        }
    }
}
.property:hover {
    .oprate {
        display: flex;
    }
    .iconfont {
        cursor: pointer;
    }
}

//////////////////////////////// event-editor //////////////////////////////////////
#event-editor {
    line-height: 24px;
    .content {
        width: 400px;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
        background: #312f2f;
        display: flex;
        flex-direction: column;
        & > .header {
            height: 24px;
            background: #4b4747;
            padding: 5px;
            .name {
                margin: 0 5px;
            }
        }
        & > .functions {
            padding: 10px;
            overflow-y: auto;
            flex: 1;
            height: 100%;
        }
    }
    ui-section, ui-input, ui-checkbox, ui-num-input {
        width: 100%;
        height: 25px;
    }
    ui-checkbox {
        margin-top: 7px;
    }
    .iconfont:hover {
        cursor: pointer;
        color: #ccc;
    }
    .tools {
        display: flex;
        justify-content: flex-end;
    }
    .line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 0 8px;
        .name {
            min-width: 8px;
        }
        & > * {
            margin-right: 5px;
        }
    }
    .params {
        border: 1px rgba(136, 136, 136, 0.35) dashed;
        border-radius: var(--border-radius-n);
    }

    .header, .params {
        .iconfont {
            margin: 0 5px;
        }
    }
}

/////////////////////////////// bezier-editor /////////////////////////////////////////////
.bezier-editor {
    display: flex;
    justify-content: center;
    text-align: center;
    .content {
        flex: 1;
        width: 800px;
        height: 100%;
        display: flex;
        overflow: hidden;
        & > .left {
            width: 100%;
            flex: 1;
            background: #424141;
            position: relative;
            svg {
                width: 100%;
                height: 100%;       
            }
        }
        & > .right {
            width: 200px;
            background: #333;
            text-align: center;
            display: flex;
            flex-direction: column;
            h2 {
                line-height: 30px;
            }
            .presets {
                height: 100%;
                flex: 1;
                margin: 10px;
                border-radius: 5px;
                background: #424141;
                overflow-y: auto;
                .preset-item {
                    margin: 15px;
                    border: 1px solid transparent;
                    border-radius: 5px;
                    padding: 10px;
                }
                .preset-item[select] {
                    border-color: #929470;
                }
                svg {
                    cursor: pointer;
                    border-bottom: 1px solid #7b7575;
                    border-left: 1px solid #7b7575;
                    width: 100px;
                    height: 100px;
                    stroke: #279DFF;
                    stroke-width: 0.01px;
                    fill: none;
                }
            }
        }
        .bezier {
            stroke-width: 0.01px;
            stroke: #184c76;
            fill: none;
            position: relative;
            line {
                stroke: rgba(156, 148, 145, 0.7);
                stroke-width: 0.01px;
            }
            circle:hover {
                cursor: pointer;
            }
            .ctrl-1 {
                stroke-width: 0.02px;
                stroke: rgba(156, 148, 145, 0.7);
                fill: #f90;
            }
            .ctrl-2 {
                stroke-width: 0.02px;
                stroke: rgba(156, 148, 145, 0.7);
                fill: #658b3a;
            }
        }
        // 坐标轴
        .axis {
            stroke-width: 0.002px;
            stroke: #cecdcd;
            fill: none;
            text {
                font-size: 0.05px;
            }
        }
        .toolbar {
            position: absolute;
            width: 160px;
            height: 30px;
            line-height: 30px;
            display: flex;
            justify-content: space-around;
            right: 10px;
            top:10px;
            border-radius: 5px;
            background: #333;
            .exit:hover {
                cursor: pointer;
                color: white;
            }
        }
    }
}
@import './icon-font.less';
