@import './icon';

:host {
    position: relative;
    display: flex;

    >.assets {
        flex: 1;
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    // .loading 不止在content上有使用，在 .tree-node 的状态变化上也有使用
    .loading {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;

        &.center {
            margin: auto;
        }

        ui-loading {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 18px;
            height: 18px;
        }
    }
}

.header {
    position: relative;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
    padding: 2px;
    overflow: hidden;
    font-size: 12px;
    background-color: var(--panel-header-bg);
    white-space: nowrap;

    [class^="i-"],
    [class*=" i-"] {
        position: relative;
        margin: 0 2px;
        border-radius: 2px;
        cursor: pointer;
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        transition: all .2s ease;
        overflow: hidden;

        &:hover {
            background-color: var(--panel-header-hover-c);
        }
    }

    >ui-input {
        flex: 1;
        margin: 0 4px;
        font-size: 11px;
    }

    .search-type {
        margin: 0;
        padding: 0 2px;

        &:after {
            position: absolute;
            left: 0;
            top: -7px;
            z-index: 1;
            color: var(--red-c);
            font-family: sans-serif;
            transform: scale(0.7);
            font-size: 12px;
        }

        &[type="uuid"]:after {
            content: 'U';
            left: -1px;
        }

        &[type="type"]:after {
            content: 'T';
        }
    }

    .sort-type {
        margin: 0;
        padding: 0 2px;

        &:after {
            position: absolute;
            left: 0;
            top: -7px;
            z-index: 1;
            color: var(--red-c);
            font-family: sans-serif;
            transform: scale(0.7);
            font-size: 12px;
        }

        &[type="ext"]:after {
            content: 'T';
        }
    }
}

.content {
    flex: 1;
    position: relative;
    overflow-y: auto;
    box-shadow: inset 0 0 8px 2px var(--panel-content-shadow);
    background-color: var(--panel-content-bg);

    .scroll-bar {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 2px;
        height: 0;
        overflow: auto;
    }

    .select-box {
        opacity: 0;
        position: absolute;
        z-index: 1;
        pointer-events: none;
        width: 100%;
        border: 2px solid #0c8a0c;
        box-sizing: border-box;
        transition: left 0.3s ease-in-out, top 0.3s ease-in-out, height 0.3s ease-in-out;
    }
}

.footer {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding: 0 4px;
    font-size: 11px;
    background-color: var(--panel-header-bg);
}

.refreshing {
    position: absolute;
    opacity: 0;
    bottom: -30px;
    right: 5px;
    z-index: 10;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    border-radius: 3px;
    background-color: #09b8e0;
    color: #fff;
    box-shadow: 0 0 8px 2px #036f88;
    pointer-events: none;
    transition: opacity, bottom 0.3s;
    transition-delay: 0.3s;

    &.fadeIn {
        opacity: 1;
        bottom: 5px;
    }
}

@import './tree';
