<div class="content-item" 
    v-if="dumps" 
>
    <div class="node"
        :selected="select === dumps.uuid"
        :style="nodeStyle"
        @mousedown="onMouseDown(dumps.uuid)"
    >
        <span>{{dumps.name}}</span>
        <span class="operate" @mousedown="onOperate">
            <!-- <i class="iconfont icon-move"
                name="move"
                :title="t('move_data')"
            ></i> -->
            <i class="iconfont icon-clear-b"
                name="clear"
                :title="t('clear_data')"
            ></i>
        </span>
        <!-- <div class="node-edit">
            <span></span>
            <ui-input></ui-input>
        </div> -->
    </div>
    <template v-if="dumps.children && dumps.children.length > 0" v-for="node in dumps.children">
        <node-tree v-if="node"
        :dumps="node"
        :key="node.uuid"
        :select="select"
        :indent="node.indent"
        :uuid="uuid"
        >{{node}}</node-tree>
    </template>
</div>