<div :class="nodeClass" 
    v-if="dumps"
    :selected="selectPath === dumps.path"
    :moving="movingProperty"
    :draggable="!dumps.uuid && !lock"
    :hoving="hoving"
    @mousedown="onMouseDown($event, dumps.path)"
    @dragstart="onDragStart"
    @dragover="onDragOver"
    @dragleave="onDragLeave"
    @drop="onDrop"
    @dragend="onDragEnd"
>
    <div
        class="node"
        :title="dumps.name"
        :style="nodeStyle"
        ><i v-if="lock || !dumps.uuid" class="lock iconfont icon-lock"></i>{{dumps.name}}<span v-if="!dumps.uuid"> (missing)</span>
    </div>
    <div class="operate">
        <i v-if="!movePath" class="iconfont icon-list"
            name="showPopMenu"
        ></i>
        <!-- <i v-else class="iconfont icon-move"
            name="moveData"
            :title="t('move_data_to')"
        ></i> -->
    </div>
    <div class="tips" v-if="movePath && dumps.uuid">
        {{t('move_data_to')}}
    </div>
</div>