<div class="content-item preview-row"
    v-if="display"
    :style="previewStyle"
    @click.right="onPopMenu"
    @dragover="onDragOver"
    @drop="onDrop"
>
    <!-- 节点预览显示的关键帧线条 -->
    <template v-if="!name && !draggable">
        <div
            class="line"
            v-for="(item, i) in keyData"
            v-if="keyFrames[i + 1]"
            :style="queryLineStyle(item, keyData[i + 1])"
        ></div>
    </template>

    <!-- 属性轨道显示的关键帧线条 -->
    <template v-if="name && !draggable">
        <div
            class="line"
            v-for="(item, i) in keyData"
            v-if="keyFrames[i + 1]"
            :style="queryLineStyle(item, keyData[i + 1])"
            :title="t('line_tips')"
            @dblclick="openBezierEditor(item)"
        ></div>
    </template>

    <!-- 关键帧显示 -->
    <template>
        <div
            :class="keyType"
            name="key"
            v-for="(item, index) in keyData"
            :style="queryKeyStyle(item.x)"
            :index="index"
            @mousedown="onMouseDown($event, index)"
        >    
            <template
                v-if="checkRightSrc(item.imageSrc)"
            >
                <img class="sprite-key"
                    :src="item.imageSrc" 
                    :alt="item.imageSrc"
                >
            </template>
            <template 
                v-else
            >
                <div  class="dot"></div>
            </template>
        </div>
    </template>

    <!-- <template v-if="display">
        <div class="v-key" preview 
            name="key"
            v-for="item in virtualkeys" 
            :style="queryKeyStyle(item.x)"
        >
            <div class="dot"></div>
        </div>
    </template> -->

    <!-- 选中的关键数据显示 -->
    <template v-if="selectKey">
        <div 
            v-for="item in selectKey"
            :class="calcSelectClass(item.imageSrc)" 
            name="key"
            :style="queryKeyStyle(item.x)"
        >
            <template
                v-if="checkRightSrc(item.imageSrc) && name"
            >
                <img class="sprite-key"
                    :src="item.imageSrc" 
                    :alt="item.imageSrc"
                >
            </template>
            <template 
                v-else
            >
                <div  class="dot"></div>
            </template>
        </div>
    </template>
</div>
