<ui-section expand
    v-if="node"
>

    <div slot="header" class="header flex-1 layout horizontal center-center">
        <span>Node</span>
        <span class="flex-1"></span>
        <!-- todo
            <ui-button class="transparent"
                @click.prevent.stop=""
                @confirm.stop.prevent="getContextMenu"
            >
                <i class="iconfont icon-setting"></i>
            </ui-button>
        -->
    </div>

    <cc-vec2 name="Position"
        :dump="node.position"
        :step="1"
    ></cc-vec2>

    <number name="Angle"
        :dump="node.angle" v-if="node.angle"
        :step="1"
    ></number>

    <number name="Rotation"
        :dump="node.angle" v-else-if="node.rotation"
        :step="1"
    ></number>

    <cc-vec2 name="Scale"
        :dump="node.scale"
        :step="0.1"
    ></cc-vec2>

    <cc-vec2 name="Anchor"
        :dump="node.anchor"
        :step="0.1"
    ></cc-vec2>

    <cc-size name="Size"
        :dump="node.size"
        :step="1"
    ></cc-size>

    <cc-color name="Color"
        :dump="node.color"
    ></cc-color>

    <number name="Opacity"
        :dump="node.opacity"
        :step="1"
        :min="0"
        :max="255"
    ></number>

    <cc-vec2 name="Skew"
        :dump="node.skew"
        :step="1"
    ></cc-vec2>

    <!-- todo 
        <ui-prop label="Group" path="group">
        <div slot="content">
            <ui-select class="flex-1"
                :value="JSON.stringify(node.group.value)"
            >
                <option
                    v-for="item in groupList"
                    :value="item"
                >{{item}}</option>
            </ui-select>
            <ui-button class="tiny blue"
                @confirm.stop.prevent="openGroupSetting"
            >Edit Button</ui-button>
        </div>
    </ui-prop> -->

</ui-section>