<div class="data_editor" @confirm="_onConfirm($event)">
	<div class="line">
		<div class="name">{{ t('auto_compiler_scripts') }}</div>
		<div class="value">
			<ui-checkbox :value="data_editor.auto_compiler_scripts" path="auto_compiler_scripts"></ui-checkbox>
		</div>
	</div>
	<div class="line">
		<div class="name">{{ t('external_script_editor') }}</div>
		<div class="value">
			<ui-select :value="data_editor.external_script_editor" path="external_script_editor">
				<option value="internal">{{ t('internal') }}</option>
                <option 
                v-if="script_editor_name"
                :value="data_editor.external_script_editor">
                {{script_editor_name}}</option>
			</ui-select>
			<ui-button @click="openWin('external_script_editor')">{{ t('browse') }}</ui-button>
			<ui-button v-if="data_editor.external_script_editor !== 'internal'" @click="data_editor.external_script_editor = 'internal'">{{ t('remove') }}</ui-button>
		</div>
	</div>
	<div class="line">
		<div class="name">{{ t('external_picture_editor') }}</div>
		<div class="value">
			<ui-input
				class="cocos"
				:value="external_picture_editor"
				:placeholder="t('picture_editor_placeholder')"
				path="external_picture_editor"
			></ui-input>
			<ui-button @click="openWin('external_picture_editor')">{{ t('browse') }}</ui-button>
		</div>
	</div>
</div>
