<div class="preview">
    <div class="line">
        <div class="name">{{t('auto_refresh')}}</div>
        <div class="value">
            <ui-checkbox :value="preview.auto_refresh" @confirm="_onpreviewChanged($event, 'auto_refresh')"></ui-checkbox>
        </div>
    </div>
    <div class="line">
        <div class="name">{{t('preview_browser')}}</div>
        <div class="value">
            <ui-select :value="preview.preview_browser" @confirm="_onpreviewChanged($event, 'preview_browser')">
                <option value="default">{{t('options.default')}}</option>
            </ui-select>
            <ui-button>浏览</ui-button>
            <ui-button>移除</ui-button>
        </div>
    </div>
    <div class="line">
        <div class="name">{{t('simulator_path')}}</div>
        <div class="value">
            <ui-input class="cocos" :value="getSimulatorPath(preview.simulator_path)" @confirm="_onpreviewChanged($event, 'simulator_path')"></ui-input>
            <ui-button @click = open(getSimulatorPath(preview.simulator_path))>打开</ui-button>
        </div>
    </div>
    <div class="line">
        <div class="name">{{t('simulator_orientation')}}</div>
        <div class="value">
            <ui-select :value="preview.simulator_orientation" @confirm="_onpreviewChanged($event, 'simulator_orientation')">
                <option value="vertical">{{t('options.vertical')}}</option>
                <option value="horizontal">{{t('options.horizontal')}}</option>
            </ui-select>
        </div>
    </div>
    <div class="line">
        <div class="name">{{t('simulator_resolution')}}</div>
        <div class="value">
            <ui-select :value="preview.simulator_resolution" @confirm="_onpreviewChanged($event, 'simulator_resolution')">
                <option v-for="(item, key) in devices" :value="key" ::key="key">{{item.name}}</option>
            </ui-select>
        </div>
    </div>
    <div class="line">
        <div class="name">{{t('simulator_resolution')}}</div>
        <div class="value">
            <ui-prop :label="t('options.width')" :value="preview.simulator_width" type="int" @confirm="_onpreviewChanged($event, 'simulator_width')"></ui-prop>
            <ui-prop :label="t('options.height')" :value="preview.simulator_height" type="int" @confirm="_onpreviewChanged($event, 'simulator_height')"></ui-prop>
        </div>
    </div>
    <div class="line">
        <div class="name">{{t('simulator_debugger')}}</div>
        <div class="value">
            <ui-checkbox :value="preview.simulator_debugger" @confirm="_onpreviewChanged($event, 'simulator_debugger')"></ui-checkbox>
        </div>
    </div>
</div>