.asset-material {
    padding: 4px 10px;
    display: flex;
    flex-direction: column;

    & > .header {
        padding-bottom: 2px;
        margin-bottom: 4px;
        border-bottom: 1px #666 dashed;

        & > ui-prop {

            & > ui-select {
                flex: 1;
            }
        }
    }

    & > .content {
        overflow: auto;

        & > .pass {
            margin: 4px 8px;

            & > div {
                margin: 4px 8px;
                padding: 4px 8px;
                border: 1px dashed #777;
            }
        }
    }
}