.asset-header {
    display: flex;
    border-bottom: 1px solid #666;
    padding-bottom: 2px;
    margin-bottom: 6px;

    & > .name {
        flex: 1;
        line-height: 22px;
    }

    & > ui-button {
        line-height: 12px;
    }
}