:host {
    position: relative;
    display: flex;

    .loading {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--main-bg);
    }

    .loading ui-loading {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -0.5em;
    }

    .content {
        flex: 1;
        display: flex;
        flex-direction: column;

        &>engine-view {
            flex: 1;
            display: flex;

            &>webview {
                flex: 1;
            }

            &>webview:focus {
                outline: none;
            }

            #toolbar {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 10;

                &[mode="prefab"] {
                    >.prefab {
                        display: block;
                    }
                }

                &[mode="animation"] {
                    >.animation {
                        display: block;
                    }
                }

                >.toolbar {
                    display: none;

                    .btn {
                        background-image: linear-gradient(#585858, #333);
                        border: 1px solid #222;
                        font-size: 11px;
                        color: #bdbdbd;
                        margin: 0 8px;
                        padding: 0.3em 0.5em;
                        cursor: pointer;
                        text-align: center;
                        border-radius: 4px;
                        box-shadow: 0 0 4px 1px #222;

                        &:hover {
                            color: #eee;
                            box-shadow: none;
                        }
                    }
                }
            }
        }

        &>footer {
            height: 24px;
            border-top: 1px solid var(--border-c);
            background: var(--main-dark-bg);
            display: flex;
            line-height: 24px;
            padding: 1px 8px 0 8px;

            &>.path {
                flex: 1;
            }
        }

    }
}

@import "./iconfont";
@import "./min-window";
