
#MinWindow {
    position: absolute;
    bottom: 24px;
    right: 0;
    .container{
        min-width: 150px;
        min-height: 100px;
        font-size: 0.8rem;
        margin: 15px;
        box-shadow: 0px 0px 7px 1px #585858;
        border-radius: var(--border-radius-n);
        background: var(--main-dark-bg);
    }
    .header {
        font-size: 1.2em;
        line-height: 1.8em;
        text-align: center;
    }
    .main {
        background: var(--main-bg);
        padding: 10px;
    }
}

#MinWindow {
    .particle {
        .main {
            padding-top: 0;
        }
        .control {
            display: flex;
            justify-content: space-around;
            border-bottom: 1px dashed #797474;
            padding: 5px 0;
            ui-button {
                width: 40px;
            }
        }
        .line {
            margin:8px 0;
            .name {
                display: inline-block;
                width: 45%;
            }
            ui-num-input{
                width: 53%;
            }
        }
    }
}