.asset-tree {
    overflow: auto;
    height: 100%;
    display: block;
    position: relative;
    
    & > .content {
        box-sizing: border-box;
        overflow: hidden;

        & > div {
            position: absolute;
            min-width: 100%;
        }
    }

    & > .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2px solid red;
        box-sizing: border-box;
        pointer-events: none;
    }

    &[hoving] > .mask {
        border: 2px solid #fd942b;
    }
}