[class^="i-"],
[class*=" i-"] {
    font-family: "assets" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
}

.i-shujuku:before { content: "\e62c"; }

.i-search:before { content: "\e726"; }

.i-arrow-right:before { content: "\e6df"; }

.i-zitigui-xianxing:before { content: "\e886"; }

.i-add:before { content: "\e64d"; }

.i-folder:before { content: "\e616"; }

.i-full-over:before { content: "\e600"; }

.i-full:before { content: "\e602"; }

.i-refresh:before { content: "\ee63"; }

.i-javascript:before { content: "\e601"; }

.i-image:before { content: "\e603"; }

.i-json:before { content: "\e604"; }

.i-video:before { content: "\e605"; }

.i-zip:before { content: "\e606"; }

.i-typescript:before { content: "\e607"; }

.i-file:before { content: "\e608"; }

.i-code:before { content: "\e609"; }