@import './icon';
@drag-bgcolor: #0c8a0c;

:host {
    position: relative;
    display: flex;
    color: #ccc;
    >.assets {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    // .loading 不止在content上有使用，在 .tree-node 的状态变化上也有使用
    .loading {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        &.center {
            margin: auto;
        }
        ui-loading {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 18px;
            height: 18px;
        }
    }
}

.header {
    position: relative;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
    padding: 2px;
    overflow: hidden;
    font-size: 12px;
    background-color: #474747;
    color: #bdbdbd;
    white-space: nowrap;
    [class^="i-"],
    [class*=" i-"] {
        margin: 0 2px;
        border-radius: 2px;
        cursor: pointer;
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        transition: all .2s ease;
        overflow: hidden;
        &:hover {
            background-color: #666;
        }
    }
    >ui-input {
        flex: 1;
        margin: 0 4px;
        font-size: 11px;
    }
}

.content {
    flex: 1;
    position: relative;
    overflow-y: auto;
    box-shadow: inset 0 0 8px 2px rgba(0, 0, 0, 0.2);
    background-color: #333;
    .scroll-bar {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 2px;
        height: 0;
        overflow: auto;
    }
    .select-box {
        opacity: 0;
        position: absolute;
        z-index: 0;
        pointer-events: none;
        width: 100%;
        border-left: 3px solid @drag-bgcolor;
        border-right: 3px solid @drag-bgcolor;
        border-bottom: 3px solid @drag-bgcolor;
        box-sizing: border-box;
        transition: 0.3s all;
        transition-delay: 0.1s;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 20px;
            background-color: @drag-bgcolor;
        }
    }
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 2px;
    overflow: hidden;
    font-size: 11px;
    background-color: #474747;
    color: #bdbdbd;
    min-height: 20px;
    word-break: break-all;
}

@import './tree';