@import './icon.less';

:host {
    display: flex;

    & > .assets {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        & > header {
            margin: 2px 0 4px 0;
            display: flex;
    
            & > i {
                padding: 2px 8px;
                cursor: pointer;
                line-height: 18px;
            }
    
            & > ui-input {
                flex: 1;
                margin: 0 5px;
            }
        }
    
        & > section {
            position: relative;
            flex: 1;
            background: var(--main-dark-bg);
            border: 1px solid var(---border-dark-c);
            box-shadow: inset 0 0 8px 2px rgba(0, 0, 0, 0.2);
            background-color: var(--main-dark-bg);
            overflow: hidden;
    
            & > .loading {
                position: absolute;
                background: var(--main-dark-bg);
                width: 100%;
                height: 100%;
    
                & > ui-loading {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -11px;
                }
            }
        }
    
        & > footer {
            height: 20px;
            line-height: 22px;
            padding: 0 6px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            cursor: default;
        }
    }
}

@import './asset-tree.less';
@import './asset-item.less';

.i-javascript { color: #bdb02a; }
.i-image{ color: rgb(157, 113, 179); }
.i-json { color: #bdb02a; }
.i-typescript { color: rgb(91, 154, 186); }
.i-folder { color: rgb(43, 131, 211); }
.i-zitigui-xianxing { color: rgb(144, 195, 70); }