@active-color: #f90;
@active-border: #09f;
@drag-color: #0f0;
.tree {
    flex: 1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 4px 1px 4px 1px;
    box-sizing: border-box;
    overflow: hidden;
    &[hoving] {
        >.node {
            &[drag="over"] {
                color: #fff !important;
            }
            &[state="over"] {
                color: #fff !important;
            }
            &[insert="inside"] {
                color: @active-color;
            }
        }
        & + .dirShadow{
            display: block;
        }
    }
    >.node {
        display: block;
        position: relative;
        padding: 2px 8px 2px 0;
        height: 16px;
        font-size: 12px;
        white-space: nowrap;
        &[active="true"] {
            background-color: #059 !important;
        }
        &[state="input"] {
            background-color: transparent !important;
        }
        &[state=""] {
            &:hover {
                color: @active-color;
                background-color: rgba(255, 255, 255, 0.1);
                .lock {
                    display: inline-block;
                }
            }
        }
        &[animate] {
            .arrow {
                transition: 0.2s transform;
            }
        }
        .folder {
            font-size: 11px !important;
            transition: none !important;
            text-align: left !important;
        }
        &[expand="true"] {
            .arrow {
                transform: rotate(90deg);
                padding-top: 2px;
            }
        }
        [class^="i-"],
        [class*=" i-"] {
            font-size: 9px;
            width: 18px;
            text-align: center;
            cursor: pointer;
        }
        .lock {
            display: none;
            position: absolute;
            top: 4px;
            right: 4px;
            z-index: 100;
            font-size: 12px;
            color: #ccc !important;
            &:hover {
                color: @active-color  !important;
            }
            &.i-lock {
                display: inline-block;
            }
        }
        .name {
            cursor: default;
            vertical-align: middle;
        }
        .loading {
            display: inline-block;
            position: relative;
            top: -3px;
            left: 5px;
            transform: scale(0.8);
        }
        .rename {
            font-size: 12px;
            outline: 1px solid @active-border;
            outline-offset: 0;
            background-color: #252525;
            border: none;
            color: #ccc;
            padding-left: 4px;
            width: ~'calc(100% - 50px)';
            vertical-align: middle;
        }
    }

}