<section class="component" v-on:confirm="onNodePropertyChange($event, index)">

    <template v-for="(item, key) in component">

        <my-prop :label="key" :style="[['entity', 'asset'].includes(item.type) ? {paddingTop: '12px'} : '']" :class="{column3: ['vec2', 'vec3', 'quat', 'rect'].includes(item.type)}">

            <template v-if="item.type === 'string'">
                <ui-input class="flex-1 flex" :path="key" :value="item.value"></ui-input>
            </template>

            <template v-else-if="item.type === 'boolean'">
                <ui-checkbox :value="item.value"></ui-checkbox>
            </template>

            <template v-else-if="item.type === 'int'">
                <ui-num-input preci="2" class="flex-1 flex" :path="key" :value="item.value"></ui-num-input>
            </template>

            <template v-else-if="item.type === 'number'">
                <ui-num-input preci="2" class="flex-1 flex" :path="key" :value="item.value"></ui-num-input>
            </template>

            <template v-else-if="item.type === 'enums'">
                <ui-select class="flex flex-1" :path="key" :value="item.value">
                    <option :value="val" :key="index" v-for="(val, index) in item.options">{{val}}</option>
                </ui-select>
            </template>

            <template v-else-if="item.type === 'vec2'">
                <my-prop label="X">
                    <ui-num-input preci="2" :path="key" :value="item.value.x">
                    </ui-num-input>
                </my-prop>
                <my-prop label="Y">
                    <ui-num-input preci="2" :path="key" :value="item.value.y"></ui-num-input>
                </my-prop>
            </template>

            <template v-else-if="item.type === 'vec3'">
                <my-prop label="X">
                    <ui-num-input preci="2" :path="key" :value="item.value.x">
                    </ui-num-input>
                </my-prop>
                <my-prop label="Y">
                    <ui-num-input preci="2" :path="key" :value="item.value.y"></ui-num-input>
                </my-prop>
                <my-prop label="Z">
                    <ui-num-input preci="2" :path="key" :value="item.value.z"></ui-num-input>
                </my-prop>
            </template>

            <template v-else-if="item.type === 'color3'">
                <ui-color :path="key" class="flex flex-1" :value="JSON.stringify(Object.values(item.value).map((item, index)=> item * 255))"></ui-color>
            </template>

            <template v-else-if="item.type === 'color4'">
                <ui-color :path="key" class="flex flex-1" :value="JSON.stringify(Object.values(item.value).map((item, index)=>index === 3 ? item : item * 255))"></ui-color>
            </template>

            <template v-else-if="item.type === 'quat'">
                <my-prop label="X">
                    <ui-num-input preci="2" :path="key + '.x'" :value="item.value.x">
                    </ui-num-input>
                </my-prop>
                <my-prop label="Y">
                    <ui-num-input preci="2" :path="key + '.y'" :value="item.value.y">
                    </ui-num-input>
                </my-prop>
                <my-prop label="Z">
                    <ui-num-input preci="2" :path="key + '.z'" :value="item.value.z">
                    </ui-num-input>
                </my-prop>
                <my-prop label="W">
                    <ui-num-input preci="2" :path="key + '.w'" :value="item.value.w">
                    </ui-num-input>
                </my-prop>
            </template>

            <template v-else-if="item.type === 'rect'">
                <my-prop label="X">
                    <ui-num-input preci="2" :path="key + '.0'" :value="item.value[0]">
                    </ui-num-input>
                </my-prop>
                <my-prop label="Y">
                    <ui-num-input preci="2" :path="key + '.1'" :value="item.value[1]">
                    </ui-num-input>
                </my-prop>
                <my-prop label="W">
                    <ui-num-input preci="2" :path="key + '.2'" :value="item.value[2]">
                    </ui-num-input>
                </my-prop>
                <my-prop label="H">
                    <ui-num-input preci="2" :path="key + '.3'" :value="item.value[3]">
                    </ui-num-input>
                </my-prop>
            </template>

            <template v-else-if="item.type === 'asset'">
                <ui-drag-object :path="key" class="flex-1 flex" dropable="asset, audio" :value="item.value">
                </ui-drag-object>
            </template>

            <template v-else-if="item.type === 'entity'">
                <ui-drag-object :path="key" class="flex-1 flex" dropable="entity,level" :value="item.value">
                </ui-drag-object>
            </template>

            <template v-else-if="item.type === 'object'">
                <div>
                    todo (object type): {{item.value}}
                </div>
            </template>

            <template v-else>
                {{item.value}}
            </template>

        </my-prop>

    </template>

</section>