<div class="content">
    <section class="loading"
        v-show="loading || (!sready && element === 'node') || (!aready && element === 'asset')"
    >
        <ui-loading></ui-loading>
    </section>

    <section
        v-show="!loading"
    >

        <inspector-2d ref="inspector2d"
            v-if="type === '2d' && uuid"
            :type="element"
            :uuid="uuid"
        ></inspector-2d>

        <inspector-3d ref="inspector3d"
            v-if="type === '3d' && uuid"
            :type="element"
            :uuid="uuid"
        ></inspector-3d>

    </section>
</div>