<section class="node">

    <header>
        <span>{{node.name.value}}</span>
    </header>

    <section v-on:confirm="onNodePropertyChange">

        <my-prop label="active">
            <ui-checkbox path="active" :value="node.active.value"></ui-checkbox>
        </my-prop>

        <my-prop label="name">
            <ui-input class="flex-1 flex" path="name" :value="node.name.value"></ui-input>
        </my-prop>

        <my-prop label="layer">
            <ui-num-input preci="2" path="layer" :value="node.layer.value"></ui-num-input>
        </my-prop>

        <my-prop label="lpos" class="column3">
            <my-prop label="X">
                <ui-num-input preci="2" path="lpos.x" :value="node.lpos.value.x">
                </ui-num-input>
            </my-prop>
            <my-prop label="Y">
                <ui-num-input preci="2" path="lpos.y" :value="node.lpos.value.y"></ui-num-input>
            </my-prop>
            <my-prop label="Z">
                <ui-num-input preci="2" path="lpos.z" :value="node.lpos.value.z"></ui-num-input>
            </my-prop>
        </my-prop>

        <my-prop label="lrot" class="column3">
            <my-prop label="X">
                <ui-num-input preci="2" path="lrot.x" :value="node.lrot.value.x"></ui-num-input>
            </my-prop>
            <my-prop label="Y">
                <ui-num-input preci="2" path="lrot.y" :value="node.lrot.value.y"></ui-num-input>
            </my-prop>
            <my-prop label="Z">
                <ui-num-input preci="2" path="lrot.z" :value="node.lrot.value.z"></ui-num-input>
            </my-prop>
            <my-prop label="W">
                <ui-num-input preci="2" path="lrot.w" :value="node.lrot.value.w"></ui-num-input>
            </my-prop>
        </my-prop>
    </section>

    <template v-for="(item, key) in node.comps.value">
        <comp :index="key" :component="item.value" :on-node-property-change="onNodePropertyChange"></comp>
    </template>
</section>