<div>

    <my-prop label="Rotated" type="boolean">
        <ui-checkbox path="rotated" :value="meta.rotated" readonly></ui-checkbox>
    </my-prop>

    <my-prop label="Offset X" type="number">
        <ui-num-input path="offsetX" :value="meta.offsetX" readonly></ui-num-input>
    </my-prop>

    <my-prop label="Offset Y" type="number">
        <ui-num-input path="offsetY" :value="meta.offsetY" readonly></ui-num-input>
    </my-prop>

    <my-prop label="Trim Type" type="enum">
        <ui-select path="trimType" :value="meta.trimType">
            <option value="auto">Auto</option>
            <option value="custom">Custom</option>
        </ui-select>
    </my-prop>

    <my-prop label="Trim Threshold" type="number">
        <ui-num-input path="trimThreshold" :value="meta.trimThreshold"></ui-num-input>
    </my-prop>

    <my-prop label="Trim X" type="number">
        <ui-num-input :disabled="!isCustom()" path="trimX" :value="meta.trimX"></ui-num-input>
    </my-prop>

    <my-prop label="Trim Y" type="number">
        <ui-num-input :disabled="!isCustom()" path="trimY" :value="meta.trimY"></ui-num-input>
    </my-prop>

    <my-prop label="Trim Width" type="number">
        <ui-num-input :disabled="!isCustom()" path="width" :value="meta.width"></ui-num-input>
    </my-prop>

    <my-prop label="Trim Height" type="number">
        <ui-num-input :disabled="!isCustom()" path="height" :value="meta.height"></ui-num-input>
    </my-prop>

    <my-prop label="Border Top" type="number">
        <ui-num-input path="borderTop" :value="meta.borderTop"></ui-num-input>
    </my-prop>

    <my-prop label="Border Bottom" type="number">
        <ui-num-input path="borderBottom" :value="meta.borderBottom"></ui-num-input>
    </my-prop>

    <my-prop label="Border Left" type="number">
        <ui-num-input path="borderLeft" :value="meta.borderLeft"></ui-num-input>
    </my-prop>

    <my-prop label="Border Right" type="number">
        <ui-num-input path="borderRight" :value="meta.borderRight"></ui-num-input>
    </my-prop>

</div>