<div class="node">
    <scene-node
        v-if="dump && dump.isScene"
        :dump="dump"

        :width="width"
        :height="height"
        :language="language"
    ></scene-node>
    <template
        v-if="dump && !dump.isScene"
    >
        <prefab-node
            v-if="dump.__prefab__"
            :dump="dump"
        >
        </prefab-node>
        <div class="header">
            <ui-prop empty="true"
                :value="dump.active"
            >
                <ui-checkbox
                    :value="dump.active.value"
                    @confirm="dump.active.value = $event.target.value"
                ></ui-checkbox>
            </ui-prop>
            <ui-prop empty="true"
                :value="dump.name"
            >
                <ui-input
                    :value="dump.name.value"
                    @confirm="dump.name.value = $event.target.value"
                ></ui-input>
            </ui-prop>
        </div>

        <ui-section expand>
            <div class="header" slot="header">
                <div class="checkbox">
                    <!-- <ui-checkbox
                        :value="value.enabled"
                        @click.stop
                    ></ui-checkbox> -->
                </div>
                <div class="name">
                    <span>Node</span>
                </div>
                <div class="setting">
                    <!-- <i class="iconfont icon-setting"></i> -->
                </div>
            </div>
            <ui-prop auto="true"
                :value="dump.position"
            ></ui-prop>
            <ui-prop auto="true"
                :value="dump.rotation"
            ></ui-prop>
            <ui-prop auto="true"
                :value="dump.scale"
            ></ui-prop>
        </ui-section>

        <template
            v-for="(item, index) in dump.__comps__"
        >
            <comp
                :uuids="uuids"
                :index="index"
                :total="dump.__comps__.length"
                :value="item"

                :width="width"
                :height="height"
                :language="language"
            ></comp>
        </template>

        <div class="footer">
            <ui-button
                v-if="uuids.length === 1"
                @click="_onAddComponentMenu($event)"
            >{{t('add_component')}}</ui-button>
        </div>
    </template>
</div>
