.general {
    overflow: auto;
    padding: 20px;

    & > div {
        margin: 10px 0;
        display: flex;

        & > .name {
            width: 120px;
            line-height: 22px;
            padding: 0 16px;
        }

        & > .value {
            flex: 1;
        }
    }
}