<div class="ui-prop"
    :type="value ? value.type : false"
    :array="value && value.isArray"
    :node="value && isType('cc.Node')"
    :asset="value && isType('cc.Asset')"
    :component="value && isType('cc.Component')"
    @confirm="_onConfirm($event)"
>

    <template
        v-if="empty"
    >
        <slot></slot>
    </template>

    <template
        v-else-if="!auto"
    >
        <div class="name">
            <span
                :title="getName(value.name)"
            >{{getName(value.name)}}</span>
            <i class="iconfont icon-lock"
                v-if="value.readonly"
            ></i>
        </div>
        <div class="content">
            <slot></slot>
        </div>
    </template>

    <!-- Null -->
    <template
        v-else-if="value.value === null"
    >
        <div class="name">
            <span
                :title="getName(value.name)"
            >{{getName(value.name)}}</span>
        </div>
        <div class="content">
            <ui-null></ui-null>
        </div>
    </template>

    <!-- Unknown -->
    <template
        v-else-if="value.type === 'Unknown' || value.type === 'unknown'"
    >
        <div class="name">
            <span
                :title="getName(value.name)"
            >{{getName(value.name)}}</span>
            <i class="iconfont icon-lock"
                v-if="value.readonly"
            ></i>
        </div>
        <div class="content">
            <ui-unknown
                v-model="value.value"
            ></ui-unknown>
        </div>
    </template>

    <!-- Array -->
    <template
        v-else-if="value.isArray"
    >
        <ui-array
            :name="getName(value.name)"
            v-model="value.value"
        ></ui-array>
    </template>

    <!-- Number -->
    <template
        v-else-if="value.type === 'Number' || value.type === 'number'"
    >
        <div class="name">
            <span
                :title="getName(value.name)"
            >{{getName(value.name)}}</span>
            <i class="iconfont icon-lock"
                v-if="value.readonly"
            ></i>
        </div>
        <div class="content">
            <ui-number
                :readonly="value.readonly"
                :min="value.min"
                :max="value.max"
                :step="value.step"
                :slide="value.slide"
                :data-default="value.default"
                v-model="value.value"
            ></ui-number>
        </div>
    </template>

    <!-- Boolean -->
    <template
        v-else-if="value.type === 'Boolean' || value.type === 'boolean'"
    >
        <div class="name">
            <span
                :title="getName(value.name)"
            >{{getName(value.name)}}</span>
        </div>
        <div class="content">
            <ui-bool
                :readonly="value.readonly"
                v-model="value.value"
                :data-default="value.default"
            ></ui-bool>
        </div>
    </template>

    <!-- String -->
    <template
        v-else-if="value.type === 'String' || value.type === 'string'"
    >
        <div class="name">
            <span
                :title="getName(value.name)"
            >{{getName(value.name)}}</span>
            <i class="iconfont icon-lock"
                v-if="value.readonly"
            ></i>
        </div>
        <div class="content">
            <ui-string
                :readonly="value.readonly"
                :data-default="value.default"
                v-model="value.value"
            ></ui-string>
        </div>
    </template>

    <!-- Enum -->
    <template
        v-else-if="value.type === 'Enum' || value.type === 'enum'"
    >
        <div class="name">
            <span
                :title="getName(value.name)"
            >{{getName(value.name)}}</span>
            <i class="iconfont icon-lock"
                v-if="value.readonly"
            ></i>
        </div>
        <div class="content">
            <ui-enum
                :readonly="value.readonly"
                :list="value.enumList"
                :data-default="value.default"
                v-model="value.value"
            ></ui-enum>
        </div>
    </template>

    <!-- Size -->
    <template
        v-else-if="value.type === 'cc.Size'"
    >
        <div class="name">
            <span
                :title="getName(value.name)"
            >{{getName(value.name)}}</span>
            <i class="iconfont icon-lock"
                v-if="value.readonly"
            ></i>
        </div>
        <div class="content">
            <ui-size
                :readonly="value.readonly"
                v-model="value.value"
                :data-default="value.default"
            ></ui-size>
        </div>
    </template>

    <!-- Vec2 -->
    <template
        v-else-if="value.type === 'cc.Vec2'"
    >
        <div class="name">
            <span
                :title="getName(value.name)"
            >{{getName(value.name)}}</span>
            <i class="iconfont icon-lock"
                v-if="value.readonly"
            ></i>
        </div>
        <div class="content">
            <ui-vec2
                :readonly="value.readonly"
                v-model="value.value"
                :data-default="value.default"
            ></ui-vec2>
        </div>
    </template>

    <!-- Vec3 -->
    <template
        v-else-if="value.type === 'cc.Vec3'"
    >
        <div class="name">
            <span
                :title="getName(value.name)"
            >{{getName(value.name)}}</span>
            <i class="iconfont icon-lock"
                v-if="value.readonly"
            ></i>
        </div>
        <div class="content">
            <ui-vec3
                :readonly="value.readonly"
                v-model="value.value"
                :data-default="value.default"
            ></ui-vec3>
        </div>
    </template>

    <!-- Vec4 -->
    <template
        v-else-if="value.type === 'cc.Vec4' || value.type === 'cc.Quat'"
    >
        <div class="name">
            <span
                :title="getName(value.name)"
            >{{getName(value.name)}}</span>
            <i class="iconfont icon-lock"
                v-if="value.readonly"
            ></i>
        </div>
        <div class="content">
            <ui-vec4
                :readonly="value.readonly"
                v-model="value.value"
                :data-default="value.default"
            ></ui-vec4>
        </div>
    </template>

    <!-- Mat4 -->
    <template
        v-else-if="value.type === 'cc.Mat4'"
    >
        <ui-mat4
            :name="getName(value.name)"
            v-model="value.value"
        ></ui-mat4>
    </template>

    <!-- Color -->
    <template
        v-else-if="value.type === 'cc.Color'"
    >
        <div class="name">
            <span
                :title="getName(value.name)"
            >{{getName(value.name)}}</span>
            <i class="iconfont icon-lock"
                v-if="value.readonly"
            ></i>
        </div>
        <div class="content">
            <ui-color
                :readonly="value.readonly"
                v-model="value.value"
                :data-default="value.default"
            ></ui-color>
        </div>
    </template>

    <!-- Rect -->
    <template
        v-else-if="value.type === 'cc.Rect'"
    >
        <div class="name">
            <span
                :title="getName(value.name)"
            >{{getName(value.name)}}</span>
            <i class="iconfont icon-lock"
                v-if="value.readonly"
            ></i>
        </div>
        <div class="content">
            <ui-rect
                :readonly="value.readonly"
                :value="value.value"
                :data-default="value.default"
            ></ui-rect>
        </div>
    </template>

    <!-- Node -->
    <template
        v-else-if="isType('cc.Node')"
    >
        <div class="name">
            <span
                :title="getName(value.name)"
            >{{getName(value.name)}}</span>
            <i class="iconfont icon-lock"
                v-if="value.readonly"
            ></i>
        </div>
        <div class="content">
            <ui-node
                :readonly="value.readonly"
                :type="value.type"
                v-model="value.value"
                :data-default="value.default"
            ></ui-node>
        </div>
    </template>

    <!-- Asset -->
    <template
        v-else-if="isType('cc.Asset')"
    >
        <div class="name">
            <span
                :title="getName(value.name)"
            >{{getName(value.name)}}</span>
            <i class="iconfont icon-lock"
                v-if="value.readonly"
            ></i>
        </div>
        <div class="content">
            <ui-asset
                :readonly="value.readonly"
                :type="value.type"
                v-model="value.value"
                :data-default="value.default"
            ></ui-asset>
        </div>
    </template>

    <!-- Component -->
    <template
        v-else-if="isType('cc.Component')"
    >
        <div class="name">
            <span
                :title="getName(value.name)"
            >{{getName(value.name)}}</span>
            <i class="iconfont icon-lock"
                v-if="value.readonly"
            ></i>
        </div>
        <div class="content">
            <ui-component
                :readonly="value.readonly"
                :type="value.type"
                v-model="value.value"
                :data-default="value.default"
            ></ui-component>
        </div>
    </template>

    <!-- Curve -->
    <template
        v-else-if="value.type === 'cc.AnimationCurve'"
    >
        <div class="name">
            <span
                :title="getName(value.name)"
            >{{getName(value.name)}}</span>
            <i class="iconfont icon-lock"
                v-if="value.readonly"
            ></i>
        </div>
        <div class="content">
            <ui-curve
                :readonly="value.readonly"
                v-model="value.value"
                :data-default="value.default"
                :width="width"
                :height="height"
            ></ui-curve>
        </div>
    </template>

    <!-- CurveRange -->
    <template
        v-else-if="value.type === 'cc.CurveRange'"
    >
        <ui-curve-range
            :readonly="value.readonly"
            :name="getName(value.name)"
            v-model="value.value"

            :width="width"
            :height="height"
        ></ui-curve-range>
    </template>

    <!-- Gradient -->
    <template
        v-else-if="value.type === 'cc.Gradient'"
    >
        <div class="name">
            <span
                :title="getName(value.name)"
            >{{getName(value.name)}}</span>
            <i class="iconfont icon-lock"
                v-if="value.readonly"
            ></i>
        </div>
        <div class="content">
            <ui-gradient
                :readonly="value.readonly"
                v-model="value.value"
                :data-default="value.default"
            ></ui-gradient>
        </div>
    </template>

    <!-- GradientRange -->
    <template
        v-else-if="value.type === 'cc.GradientRange'"
    >
        <ui-gradient-range
            :readonly="value.readonly"
            :name="getName(value.name)"
            v-model="value.value"
        ></ui-gradient-range>
    </template>

    <!-- Depend -->
    <template
        v-else-if="value.type === 'ui.Depend'"
    >
        <ui-depend
            :readonly="value.readonly"
            :name="getName(value.name)"
            v-model="value.value"
            :children="value.children"

            :width="width"
            :height="height"
        ></ui-depend>
    </template>

    <!-- ClickEvent -->
    <template
        v-else-if="value.type === 'cc.ClickEvent'"
    >
        <ui-click-event
            :readonly="value.readonly"
            v-model="value.value"

            :width="width"
            :height="height"
        ></ui-click-event>
    </template>

    <!-- Object -->
    <template
        v-else
    >
        <ui-object
            :readonly="value.readonly"
            :name="getName(value.name)"
            :value="value.value"

            :width="width"
            :height="height"
        ></ui-object>
    </template>
</div>