<ui-section expand
    v-if="node"
>

    <div slot="header" class="header flex-1 layout horizontal center-center">
        <span>Node</span>
        <span class="flex-1"></span>
        <!-- todo
            <ui-button class="transparent"
                @click.prevent.stop=""
                @confirm.stop.prevent="getContextMenu"
            >
                <i class="iconfont icon-setting"></i>
            </ui-button>
        -->
    </div>

    <ui-prop 
        name="Position"
        :dump="node.position" 
        compType="cc-vec3" 
        :tooltip="T('instruction', 'node', 'position')"
        :step="1"
    >
    </ui-prop>
    
    <ui-prop 
        name="Rotation"
        :dump="node.rotation" 
        compType="cc-vec3" 
        :tooltip="T('instruction', 'node', 'rotation')"
        :step="1"
    ></ui-prop>
    
    <ui-prop 
        name="Scale"
        :dump="node.scale" 
        compType="cc-vec3" 
        :tooltip="T('instruction', 'node', 'scale')"
        :step="0.1"
    ></ui-prop>

</ui-section>