.ui-array {
    flex: 1;
    display: flex;
    flex-flow: wrap;

    & > .name {
        width: 30%;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 4px;
        box-sizing: border-box;
    }

    & > .content {
        width: 70%;
        flex: none;
        display: flex;

        & > ui-num-input {
            flex: 1;
        }
    }

    & > .array {
        flex: 1;
        display: block;
        flex-direction: column;

        & > .ui-prop {
    
            .name {
                text-indent: 16px;
            }
        }
    }

}