.ui-curve {
    flex: 1;
    display: flex;
    padding: 2px;
    overflow: hidden;

    & > .graphics {
        flex: 1;
        border: 1px solid #999;
        background: #666;
        overflow: hidden;

        & > svg {
            display: inherit;
        }
    }
}