.ui-null {
    flex: 1;

    & > .info {
        padding: 2px 10px;
        background: #999;
        border-radius: 4px;
        color: #222;
    }

    & > .create {
        padding: 2px 10px;
        background: #4f9e7a;
        border-radius: 4px;
        color: #222;
        cursor: pointer;
    }
}