.iconfont{
    font-family: 'package-manager' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: inline-block;
}
.i-del:before {
    content: '\e677';
}

.i-tag-b:before {
    content: '\e655';
}

.i-open:before {
    content: '\e79f';
}

.i-del-b:before {
    content: '\e65a';
}

.i-add:before {
    content: '\e64d';
}

.i-folder:before {
    content: '\e616';
}

.i-refresh:before {
    content: '\e60e';
}
