<div class="asset-wrapper" :class="{[meta.__assetType__]: true}">
    <!-- 头部工具栏 -->
   <header
        class="asset-header"
    >
        <!-- <img class="css-icon" :src="icon"></img> -->
        <div
            class="css-title"
        >
            {{meta ? meta.__name__ : ''}}
        </div>
        <span class="flex-1"></span>
    
        <ui-button class="tiny red transparent"
            :disabled="!meta.__dirty__"
            @confirm="reset($event)"
        >
            <i class="iconfont icon-close-b"></i>
        </ui-button>
    
        <ui-button class="tiny green transparent"
            :disabled="!meta.__dirty__"
            @confirm="apply($event)"
        >
            <i class="iconfont icon-check-b"></i>
        </ui-button>
    </header>

    <div class="props flex-1">
        <ui-prop
            comp-type="enum"
            name="Type"
            :value="meta.userData.type"
            path="userData.type"
        >
            <option 
                v-for="(item, index) in ['raw' , 'texture' , 'normal map' , 'sprite-frame' , 'texture cube']"
                :value="item"
                :index="index"
            >{{item}}</option>
        </ui-prop>
        <div class="platform-setting">
            <div class="platforms flex">
                <div class="platform-item" :class="[tab === 'default'?'active':'','platform-item']" @click="tab = 'default'">
                    <span >Default</span>
                </div>
                <div :class="[tab === name?'active':'','platform-item']" v-for = "name in platforms" @click="tab = name" >
                    <span :class="['icon-'+name,tab === name?'active':'', 'iconfont']" ></span>
                </div>
            </div>
            <div class="settings">
                <ui-select value="none" @confirm="addFormats">
                    <option v-for="name in defaultOption" :value="name">{{formatsInfo[name]}}</option>
                    <option v-if="tab !== 'default' && tab !== 'android'" v-for="extname in extOption" :value="extname">{{formatsInfo[extname]}}</option>
                </ui-select>
                <div class="formats" v-if="meta.userData && meta.userData.platformSettings">
                    <div class="setting-item flex" v-for="(item,key) in meta.userData.platformSettings[tab]" v-if="item">
                        <div class="left">{{key}} | Quality</div>
                        <ui-num-input class="right flex-1" :value="item.quality" @confirm="changeQuality($event, key)" max="1" min="0" step="0.1" preci="2"></ui-num-input>
                        <ui-button class="iconfont icon-del transparent red" @confirm="delFormats(key)"></ui-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>