<div class="asset-wrapper" :class="{[meta.__assetType__]: true}">

    <!-- 头部工具栏 -->
    <header
        class="asset-header"
    >
        <!-- <img class="css-icon" :src="icon"></img> -->
        <div
            class="css-title"
        >
            {{meta ? meta.__name__ : ''}}
        </div>
        <span class="flex-1"></span>
    
        <ui-button class="tiny red transparent"
            :disabled="!meta.__dirty__"
            @confirm="reset($event)"
        >
            <i class="iconfont icon-close-b"></i>
        </ui-button>
    
        <ui-button class="tiny green transparent"
            :disabled="!meta.__dirty__"
            @confirm="apply($event)"
        >
            <i class="iconfont icon-check-b"></i>
        </ui-button>
    </header>

    <div class="props">

        <ui-prop 
            comp-type="boolean"
            :name="T('instruction', 'javascript', 'plugin')"
            path="isPlugin"
            :value="meta.isPlugin"
        ></ui-prop>

        <template v-if="meta.isPlugin">
            
            <ui-prop 
                comp-type="boolean"
                :name="T('instruction', 'javascript', 'loadPluginInWeb')"
                :indent="1"
                path="loadPluginInWeb"
                :value="meta.loadPluginInWeb"
            ></ui-prop>

            <ui-prop 
                comp-type="boolean"
                v-if="meta.loadPluginInWeb"
                :name="T('instruction', 'javascript', 'loadPluginInEditor')"
                :indent="1"
                path="loadPluginInEditor"
                :value="meta.loadPluginInEditor"
            ></ui-prop>

            <ui-prop 
                comp-type="boolean"
                v-else
                :name="T('instruction', 'javascript', 'loadPluginInEditor')"
                :indent="1"
                path="loadPluginInEditor"
                :value="false"
                :disabled="true"
            ></ui-prop>

            <ui-prop 
                comp-type="boolean"
                :name="T('instruction', 'javascript', 'loadPluginInNative')"
                :indent="1"
                path="loadPluginInNative"
                :value="meta.loadPluginInNative"
            ></ui-prop>

        </template>
        
    </div>

    <cc-code-preview class="flex-1" :type="meta.__assetType__" :path="path"></cc-code-preview>

</div>