<div>

    <!-- 头部工具栏 -->
   <header
        class="asset-header"
    >
        <!-- <img class="css-icon" :src="icon"></img> -->
        <div
            class="css-title"
        >
            {{meta ? meta.__name__ : ''}}
        </div>
        <span class="flex-1"></span>
    
        <ui-button class="tiny red transparent"
            :disabled="!meta.__dirty__"
            @confirm="reset($event)"
        >
            <i class="iconfont icon-close-b"></i>
        </ui-button>
    
        <ui-button class="tiny green transparent"
            :disabled="!meta.__dirty__"
            @confirm="apply($event)"
        >
            <i class="iconfont icon-check-b"></i>
        </ui-button>
    </header>

    <!-- 实际显示数据 -->
    <div class="flex-1"
        v-if="meta"
    >

        <enum
            name="Type"
            path="userData.type"
            :meta="meta">
                <option 
                    v-for='(item) in [{name: "Raw", value: "raw"}, {name:"Sprite", value: "sprite"}]'
                    :value="item.value" 
                >{{item.name}}</option>
        </enum>

        <enum
            name="Wrap Mode"
            path="userData.wrapMode"
            :meta="meta">
                <option 
                    v-for='(item) in [{name: "Clamp",value: "clamp"}, {name: "Repeat", value: "repeat"}]'
                    :value="item.value" 
                >{{item.name}}</option>
        </enum>

        <enum
            name="Filter Mode"
            path="userData.filterMode"
            :meta="meta">
                <option 
                    v-for='(item) in [{name: "Point", value: "point"}, {name: "Bilinear", value: "bilinear"} ,{name: "Trilinear", value: "trilinear"}]'
                    :value="item.value" 
                >{{item.name}}</option>
        </enum>


        <ui-section class="block" expand path="meta.subMetas.sprite-frame"
            v-if="meta.userData.type === 'sprite'"
        >
            <div slot="header" class="header">Sprite</div>
            <cc-sprite-frame
                v-if="meta.subMetas && meta.subMetas['sprite-frame']"
                :meta="meta.subMetas['sprite-frame']"
                :child="true"
            ></cc-sprite-frame>
        </ui-section>

    </div>

    <cc-image-preview
        v-if="meta"
        :meta="meta"
    ></cc-image-preview>

</div>