<div class="asset-wrapper" :class="{[meta.__assetType__]: true}">
    <!-- 头部工具栏 -->
   <header
        class="asset-header"
    >
        <!-- <img class="css-icon" :src="icon"></img> -->
        <div
            class="css-title"
        >
            {{meta ? meta.__name__ : ''}}
        </div>
        <span class="flex-1"></span>
    
        <ui-button class="tiny red transparent"
            :disabled="!meta.__dirty__"
            @confirm="reset($event)"
        >
            <i class="iconfont icon-close-b"></i>
        </ui-button>
    
        <ui-button class="tiny green transparent"
            :disabled="!meta.__dirty__"
            @confirm="apply($event)"
        >
            <i class="iconfont icon-check-b"></i>
        </ui-button>
    </header>

    <div class="props flex-1">

        <number
            name="Anisotropy"
            :meta="meta"
            path="userData.anisotropy"
        ></number>

        <enum
            name="Mag Filter"
            :meta="meta"
            path="userData.magfilter"
        >
            <option 
                v-for="(item, index) in ['nearest' , 'linear']"
                :value="item"
                :index="index"
            >{{item}}</option>
        </enum>
        <enum
            name="Min Filter"
            :meta="meta"
            path="userData.minfilter"
        >
            <option 
                v-for="(item, index) in ['nearest' , 'linear']"
                :value="item"
                :index="index"
            >{{item}}</option>
        </enum>
        
        <boolean
            name="Premultiply Alpha"
            :meta="meta"
            path="userData.premultiplyAlpha"
        ></boolean>

        <enum
            name="Wrap Mode S"
            :meta="meta"
            path="userData.wrapModeS"
        >
            <option 
                v-for="(item, index) in ['repeat', 'clamp-to-edge', 'mirrored-repeat']"
                :value="item"
                :index="index"
            >{{item}}</option>
        </enum>

        <enum
            name="Wrap Mode T"
            :meta="meta"
            path="userData.wrapModeT"
        >
            <option 
                v-for="(item, index) in ['repeat', 'clamp-to-edge', 'mirrored-repeat']"
                :value="item"
                :index="index"
            >{{item}}</option>
        </enum>

    </div>
    
    <cc-image-preview
        v-if="meta"
        :meta="meta"
    ></cc-image-preview>
</div>