<div class="comp">

    <ui-section expand>
        <div class="header" slot="header">
            <ui-prop class="checkbox" empty="true"
                :value="value.value.enabled"
            >
                <ui-checkbox
                    :value="value.value.enabled.value"
                    @confirm="value.value.enabled.value = $event.target.value"
                    @click.stop
                ></ui-checkbox>
            </ui-prop>
            <div class="name">
                <span>{{value.name}}</span>
            </div>
            <div class="setting">
                <i class="iconfont icon-setting"
                    @click.stop="_onClickComponentMenu($event)"
                ></i>
            </div>
        </div>

        <template
            v-for="item in value.value"
            v-if="item.visible"
        >
            <ui-prop auto="true"
                :value="item"

                :width="width"
                :height="height"
            ></ui-prop>
        </template>
    </ui-section>
</div>