<div class="comp">

    <ui-section expand>
        <div class="header" slot="header">
            <ui-prop class="checkbox" empty="true"
                :value="value.value.enabled"
            >
                <ui-checkbox
                    :value="value.value.enabled.value"
                    @confirm="value.value.enabled.value = $event.target.value"
                    @click.stop
                ></ui-checkbox>
            </ui-prop>
            <div class="name">
                <span>{{value.name}}</span>
            </div>
            <div class="setting">
                <i class="iconfont icon-setting"
                    @click.stop="_onClickComponentMenu($event)"
                ></i>
            </div>
        </div>

        <template
            v-if="getCustomComponent(value.type)"
        >

            <component
                :is="getCustomComponent(value.type)"
                :value="value"

                :width="width"
                :height="height"
            ></component>
        </template>

        <template
            v-else
        >
            <div class="content"
                v-for="item in value.value"
                v-if="item.visible"
            >
                <ui-prop auto="true"
                    :value="item"
    
                    :width="width"
                    :height="height"
                ></ui-prop>
            </div>
        </template>
    </ui-section>
</div>