.cc-dragable {
    margin: 5px 0;
    display: flex;

    & > .name {
        padding-top: 13px;
        flex: 1;
        min-width: 100px;
    }

    & > .value {
        padding-top: 13px;
        overflow: hidden;
        flex: 3;
        display: flex;

        & > ui-drag-object {
            flex: 1;
            align-self: center;
        }
    }
}
