.cc-size {
    margin: 5px 0;
    display: flex;
    line-height: 22px;

    & > .name {
        flex: 1;
    }

    & > .value {
        flex: 3;
        display: flex;

        & > span {
            margin: 0 3px 0 5px;
        }

        & > ui-num-input {
            flex: 1;
        }
    }
}