.string {
    margin: 5px 0;
    display: flex;
    line-height: 22px;

    & > .name {
        flex: 1;
        min-width: 100px;
    }

    & > .value {
        flex: 3;
        display: flex;

        & > ui-input,
        & > ui-textarea {
            flex: 1;
            align-self: center;
        }
    }
}
