:host {
    position: relative;
    display: flex;
}

.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.loading ui-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.5em;
}

.content {
    flex: 1;
}