<div class="node layout vertical" v-if="node" v-on:confirm.prevent="onNodePropertyChange">

    <div class="top-header">
        <ui-checkbox class="rgap" @click.prevent.stop="" path="active" :value="node.active.value"></ui-checkbox>
        <ui-input class="flex-1" path="name" :value="node.name.value"></ui-input>
        <ui-button class="transparent tiny" @confirm.stop="addCompPopup"><i class="iconfont icon-add"></i></ui-button>
    </div>

    <ui-section expand>

        <div slot="header" class="flex align-item">
            <span class="flex-1 flex">Node</span>
            <!-- todo
                <ui-button @click.prevent.stop="" @confirm.stop.prevent="getContextMenu" class="transparent"><i
                    class="iconfont icon-setting"></i></ui-button> -->
        </div>

        <ui-prop v-for="(item, index) in getRenderKeys(node)" :type="getType(node[item])" :path="item" :label="item"
            :value="JSON.stringify(node[item].value)" :key="index" :presi="'number' === getType(node[item]) ? 2 : false"></ui-prop>

    </ui-section>

    <comp-section v-for="(comp, index) in node.__comps__.value" :on-node-property-change="onNodePropertyChange" :type="comp.type"
        :target="comp" v-if="node.__comps__ && node.__comps__.value" :key="comp.value.uuid.value" :total="node.__comps__.value.length"
        :index="index">
    </comp-section>


    <div class="flex center-center mt20 mb20">
        <ui-button @click.stop.prevent="addCompPopup">{{T('add_component')}}</ui-button>
    </div>

</div>