<div class="fit layout vertical">

    <meta-header id="header" :meta="meta"></meta-header>

    <div class="props flex-1">

        <ui-prop label="Type" type="enums" path="userData.type" :value="meta.userData.type" :options='JSON.stringify([{name: "Raw", value: "raw"}, {name:"Sprite", value: "sprite"}])'>
        </ui-prop>

        <ui-prop label="Wrap Mode" type="enums" path="userData.wrapMode" :value="meta.userData.wrapMode" :options='JSON.stringify([{name: "Clamp",value: "clamp"}, {name: "Repeat", value: "repeat"} ])'>
        </ui-prop>

        <ui-prop label="Filter Mode" type="enums" path="userData.filterMode" :value="meta.userData.filterMode" :options='JSON.stringify([{name: "Point", value: "point"}, {name: "Bilinear", value: "bilinear"} ,
            {name: "Trilinear", value: "trilinear"}])'>
        </ui-prop>

        <ui-section v-if="meta.userData.type === 'sprite'" expand>
            <div slot="header" class="header">Sprite</div>
            <sprite-section :meta="meta.subMetas[0].userData" v-if="meta.subMetas && meta.subMetas[0]"></sprite-section>
        </ui-section>

    </div>

    <image-preview :meta="meta"></image-preview>

</div>