.click-event {
    width: 100%;
    .line {
        padding: 0 16px;
        margin-top: 15px;
        & > * {
            flex: 1;
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}