.ui-curve-range {
    flex: 1;
    display: flex;
    flex-flow: wrap;

    & > .name {
        width: 30%;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 4px;
        box-sizing: border-box;
        white-space: nowrap;
    }

    & > .content {
        width: 70%;
        flex: none;
        display: flex;

        & > .content {
            flex: 1;

            & > .ui-prop {
                margin: 0;
                line-height: 12px;
                flex: 1;
                height: 20px;
    
                & > .name {
                    display: none;
                }
    
                & > .content {
                    width: 100%;
                }

                &:last-child {
                    margin-top: 2px;
                }
            }
        }

        & > .button {
            padding-left: 6px;
            display: flex;
            font-size: 10px;
        }
    }
}