.ui-unknown {

    span {
        padding: 2px 10px;
        background: rgb(199, 86, 86);
        border-radius: 4px;
        color: #222;
    }

    & > .reset {
        padding: 2px 10px;
        background: #4f9e7a;
        border-radius: 4px;
        color: #222;
        cursor: pointer;
    }
}