@import '../iconfont.less';
.console-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    font-family: Menlo, monospace;
}
.header {
    display: flex;
    padding: 4px;
    padding-right: 88px;
    flex-wrap: wrap;
    align-items: center;
}

.clear {
    cursor: pointer;
    --color: #ffffff;
    padding: 0.4em 0.6em;
    margin-right: 0.25em;
    background: transparent;
    border: none;
    i {
        width: 1em;
        height: 1em;
        border: 2px solid var(--color);
        border-radius: 50%;
        display: block;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            width: 2px;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            background: var(--color);
        }
    }
    &:hover {
        background: #0077dd;
    }
}
.filter {
    display: inline-block;
    padding: 0.2em 0.5em;
    margin-right: 0.25em;
    border: 1px solid #333;
    background: none;
    outline: none;
    color: #0077dd;
    &:hover,
    &:focus {
        border-color: #0077dd;
    }
}
.collapse {
    position: absolute;
    right: 0;
}
ui-checkbox {
    padding: 3px 4px;
}
@import 'list.less';
