@import "../iconfont.less";

ui-button {
    font-size: 0.8rem;
    line-height: 0.8rem;
}


.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.console-panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  font-family: Menlo, monospace;
}

.header {
  padding: 2px;
  padding-right: 88px;
  flex-wrap: wrap;
}

.select-label {
  margin-right: 5px;
}

.collapse {
  position: absolute;
  right: 0;
}

@import "list.less";
