:host {
    position: relative;
    contain: content;
    color: #999;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    cursor: default;
}

section {
    position: relative;
    flex: 1;
    display: flex;
    overflow-y: auto;
    background: #333333;
}

.item {
    position: absolute;
    top: 0;
    width: 100%;
    list-style: none;
    overflow-x: scroll;
    padding: 0 12px;
    box-sizing: border-box;
    .wrap {
        display: flex;
        align-items: center;
    }
    .text {
        flex: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 4px;
    }
    .details,
    .stack {
        margin-left: 25px;
        white-space: nowrap;
        text-overflow: ellipsis;
        pre {
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .details ~ .stack {
        margin-left: 40px;
    }
    .i-arrow-right {
        display: inline-block;
        font-size: 0.6em;
    }
    .i-arrow-right[unfold] {
        transform: rotate(90deg);
    }
    &:nth-child(odd) {
        background: #222222;
    }
    &:nth-child(odd){
        background: #292929;
    }
    &:hover {
        background: #353535;
    }
}
.item[fold] {
    overflow-x: hidden;
    .details,
    .stack {
        display: none;
    }
    .text {
        overflow: hidden;
    }
}

.item[type='warn'] {
    color: #990;
}

.item[type='error'] {
    color: #da2121;
}

.item[type='info'] {
    color: #09f;
}
