<div class="preview">
    <div class="line">
        <div class="name">{{t('start_scene')}}</div>
        <div class="value">
            <ui-select :value="preview.start_scene" @confirm="_onpreviewChanged($event, 'start_scene')">
                <option value="current_scene">{{t('current_scene')}}</option>
                <option v-for = "scene in scenes" :value="scene.uuid">{{scene.name}}</option>
            </ui-select>
        </div>
    </div>
    <ui-section :header="t('section_canvas')" expand>
        <div class="line">
            <div class="name">{{t('design_resolution')}}</div>
            <div class="value">
                <ui-prop :label="t('width')" :value="preview.design_width" type="int" @confirm="_onpreviewChanged($event, 'design_width')"></ui-prop>
                <ui-prop :label="t('height')" :value="preview.design_height" type="int" @confirm="_onpreviewChanged($event, 'design_height')"></ui-prop>
            </div>
        </div>
        <div class="line">
            <div class="name">{{t('fit_width')}}</div>
            <div class="value"><ui-checkbox :value="preview.fit_width" @confirm="_onpreviewChanged($event, 'fit_width')"></ui-checkbox></div>
        </div>
        <div class="line">
            <div class="name">{{t('fit_height')}}</div>
            <div class="value"><ui-checkbox :value="preview.fit_height"@confirm="_onpreviewChanged($event, 'fit_height')" ></ui-checkbox></div>
        </div>
    </ui-section>
    <div class="line">
        <div class="name">{{t('simulator_setting_type')}}</div>
        <div class="value">
            <ui-select :value="preview.simulator_setting_type" @confirm="_onpreviewChanged($event, 'simulator_setting_type')">
                <option value="global">{{t('global')}}</option>
                <option value="project">{{t('project')}}</option>
            </ui-select>
        </div>
    </div>
    <div v-if="preview.simulator_setting_type === 'project'">
        <div class="line">
            <div class="name">{{t('simulator_device_orientation')}}</div>
            <div class="value">
                <ui-select :value="preview.simulator_device_orientation"  @confirm="_onpreviewChanged($event, 'simulator_device_orientation')">
                    <option value="vertical">{{t('vertical')}}</option>
                    <option value="horizontal">{{t('horizontal')}}</option>
                </ui-select>
            </div>
        </div>
        <div class="line" v-if = "devices">
            <div class="name">{{t('simulator_resolution')}}</div>
            <div class="value">
                <ui-select :value="preview.simulator_resolution" @confirm="_onpreviewChanged($event, 'simulator_resolution')">
                    <option v-for="(item, key) in devices" :value="key" ::key="key">{{item.name}}</option>
                </ui-select>
            </div>
        </div>
        <div class="line">
            <div class="name">{{t('customize_resolution')}}</div>
            <div class="value">
                <ui-prop :label="t('width')" :value="preview.simulator_width" type="int" @confirm="_onpreviewChanged($event, 'simulator_width')"></ui-prop>
                <ui-prop :label="t('height')" :value="preview.simulator_height" type="int" @confirm="_onpreviewChanged($event, 'simulator_height')"></ui-prop>
            </div>
        </div>
    </div>
</div>