<div class="pkg-item" :class="package.disabled || package.project === 'disabled' ? 'disabled' : ''">
    <div v-if="package.type === 'internal'">
        <header>
            <div class="title">
                <span class="name">{{package.name}}</span>
                <span class="vertion">{{package.version}}</span>
            </div>
        </header>
        <div class="description">{{package.description ? package.description : 'no description'}}</div>
        <!-- <div class="control">
            <ui-button class="red" v-if="!package.disabled">Disabled</ui-button>
        </div> -->
    </div>
    <div v-else class="local">
        <header>
            <div class="title">
                <span class="name">{{package.name}}</span>
                <span class="vertion">{{package.version}}</span>
            </div>
            <div class="control">
                <i class="iconfont i-folder" @click="openFolder(package.path)"></i>
                <i class="iconfont i-del-b"  @click="removePlugin(package.path)"></i>
            </div>
        </header>
        <div class="author">
            Author：<span>{{package.author ? package.author : 'Cocos Creator'}}</span>
        </div>
        <div class="control" v-if="package.type === 'project'">
            <ui-button class="red" v-if="!package.disabled" @click="handelPkg('disabled', package.path, package.type)">Disabled</ui-button>
            <ui-button class="green" v-if="package.disabled" @click="handelPkg('enable', package.path, package.type)">Enabled</ui-button>
            <ui-button v-if="!package.disabled" @click="handelPkg('reload', package.path, package.type)">Reload</ui-button>
        </div>
        <div class="control" v-else>
            <ui-button class="red" v-if="package.project == 'enable'" @click="chooseHandle($event, 'disabled', package.path, package.type)">Disabled</ui-button>
            <ui-button class="green" v-if="package.project == 'disabled'" @click="chooseHandle($event,'enable', package.path, package.type)">Enabled</ui-button>
            <ui-button v-if="package.project == 'enable'" @click="handelPkg('reload', package.path, package.type)">Reload</ui-button>
        </div>
    </div>
</div>