<div class="ui-preview">

    <ui-select class="select"
        :value="chooseIndex"
        @change="selectChange"
    >
        <optgroup
            v-for="(arr, key) in uiCollectors"
            :label="key"
        >
            <option
                v-for="item in arr"
                :value="item"
            >ui-{{item}}</option>
        </optgroup>
    </ui-select>

    <div class="ui-content">
        <component
            :is="`test-${chooseIndex}`"
        ></component>
    </div>
</div>
