[class^="i-"],
[class*=" i-"] {
    font-family: "hierarchy" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: middle;
}

.i-arrow-right:before {
    content: "\e62d";
}

.i-arrow-down:before {
    content: "\e62e";
}

.i-add:before {
    content: "\e64d";
}

.i-compo:before {
    content: "\e762";
}