[class^="i-"],
[class*=" i-"] {
    font-family: "hierarchy" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: middle;
}

.i-arrow-right:before { content: "\e6df"; }

.i-add:before { content: "\e64d"; }