<div class="content">

    <section class="loading center" v-if="!ready">
        <ui-loading></ui-loading>
    </section>

    <div class="tools">
        <i class="i-add"
            @click="menuPopupNew($event)"
        ></i>
        <ui-input tabindex="-1" ref="searchInput"></ui-input>
        <i class="i-search"></i>
        <i class="expand"
            v-bind:class="{'i-full':!expand, 'i-full-over':expand}"
            @click="toggleAll"
        ></i>
        <i class="i-refresh"></i>
    </div>

    <div class="viewBox" ref="viewBox">
        <div class=scrollBar ref="scrollBar"></div>
        <tree ref="tree"
            :list="nodes"
            :select="select"
            @lock="lockNode"
            @toggle="toggleNode"
            @rename="renameNode"
            @drop="dropNode"
            @new="newNode"
            @delete="deleteNode"
        ></tree>
    </div>
</div>