<ui-drag-item class="tree-node" type="node"
    :draggable="draggable"
    :state="state"
    :active="selects.indexOf(node.uuid) !== -1"
    :style="{ paddingLeft: node.left + 'px' }"
    :class="{'parent':node.isParent}"
    :expand="node.isExpand"
    :isPrefab="node.isPrefab"
    :visible="node.isVisible.toString()"
    @mousedown="mouseDown($event, node)"
    @click="click($event, node)"
    @dblclick="dblclick($event, node)"
    @dragstart="dragStart($event, node)" 
    @dragover="dragOver($event, node)"
    @dragleave="dragLeave($event, node)"
    @drop="drop($event, node)"
>
    <i class="arrow i-arrow-right"
        v-if="node.isParent" 
        @click.stop="toggle($event, node)"
        @dblclick.stop
    ></i>

    <label class="name"
        :twinkle="twinkles[node.uuid]" 
        v-if="state!=='input'"
    >{{node.name}}</label>

    <input class="rename" ref='input'
        v-else
        :value="node.name"
        @blur="renameSubmit($event, node)"
        @keydown.stop
        @blur.stop
        @keydown.enter="renameSubmit($event, node)"
        @keydown.esc="renameCancel($event, node)"
    >
    
    <section class="loading"
        v-if="state==='loading'"
    >
        <ui-loading></ui-loading>
    </section>
    <!-- <i class="lock"
        :class="{'i-lock':node.isLock, 'i-unlock':!node.isLock}"
        :lock="node.isLock"
        @click="lock(node)"
    ></i> -->
</ui-drag-item>