<ui-drag-area class="tree" dropable="node"
    :state="state"
    :style="{ top: top + 'px' }"
>
    <tree-node type="node"
        v-for="(node,index) in nodes" 
        :key="index"
        :node="node"
        :selects="selects"
        :renameUuid="renameUuid"
        @ipcAdd="ipcAdd"
        @ipcDelete="ipcDelete"
        @copy="copy"
        @paste="paste"
        @ipcMultipleSelect="ipcMultipleSelect"
        @ipcSingleSelect="ipcSingleSelect"
        @rename="rename"
        @dragOver="dragOver"
        @drop="drop"
        @lock="lock"
    ></tree-node>
</ui-drag-area>