<div class="hierarchy">
    <header class="header">
        <i class="i-add"
            :title="t('menu.createMenu')"
            @click="popupNew($event)"
        ></i>
        <ui-input tabindex="-1" ref="search" show-clear
            @keydown.stop="searchKeydown($event)"
            :placeholder="t('menu.searchPlaceholder')"
            @change="searchChange"
        ></ui-input>
        <i class="expand"
            :class="{'i-full':!allExpand, 'i-full-over':allExpand}"
            :title="t('menu.'+(!allExpand?'allExpand':'allCollapse'))"
            @click="allToggle"
        ></i>
        <i class="i-refresh"
            :title="t('menu.refresh')"
            @click="refresh"
        ></i>
    </header>

    <section class="content" ref="viewBox"
        @mousedown="popupContext($event)"
    >
        <div class="loading center"
            v-if="!ready"
        >
            <ui-loading></ui-loading>
        </div>

        <tree ref="tree"></tree>

        <div class="select-box" 
            :style="selectBox"
        ></div>
        
        <div class="scroll-bar"
            :style="{ height: treeHeight + 'px'}"
        ></div>
    </section>
</div>
