<ui-drag-area class="tree" dropable="cc.Node,cc.Prefab"
    :usefor="usefor"
    :state="state"
    :style="{ top: top + 'px' }"
    @dragenter="dragEnter($event)"
    @drop="drop($event)"
    @click="click($event)"
>
    <tree-node
        v-for="(node,index) in nodes" 
        :key="index"
        :node="node"
        :selects="selects"
        :twinkles="twinkles"
        :renameUuid="renameUuid"
        :addNode="addNode"
        @addTo="addTo"
        @addConfirm="addConfirm"
        @ipcDelete="ipcDelete"
        @copy="copy"
        @paste="paste"
        @duplicate="duplicate"
        @ipcMultipleSelect="ipcMultipleSelect"
        @ipcSingleSelect="ipcSingleSelect"
        @rename="rename"
        @dragOver="dragOver"
        @ipcDrop="ipcDrop"
        @lock="lock"
    ></tree-node>
</ui-drag-area>
