<ui-drag-item class="asset-item" draggable="true"
    :type="translateType(node.type)"
    :active="active"
    :style="itemStyle"

    @dragstart="_onItemDragStart($event)"
    @dragenter="_onItemDragEnter($event)"
    @dragend="_onItemDragEnd($event)"
    @dragleave="_onItemDragLeave($event)"
    @mousedown="_onItemMouseDown($event)"
    @click="_onItemClick($event)"
    @dblclick="_onItemDBClick($event)"
>

    <div class="fold"
        :type="filter ? '' : node.type"
        :folder="node ? node.folder : false"
        :fold="!!fold[node.uuid]"
        @click="_onFoldClick($event)"
    >
        <i class="i-arrow-right"></i>
    </div>

    <div class="name">
        <asset-icon
            :uuid="node.uuid"
            :type="node.type"
            :source="node.source"
        ></asset-icon>
        <span class="text"
            v-show="!rename || node.source !== rename"
        >{{node.name}}</span>
        <input ref="rename"
            v-show="rename && node.source === rename"
            :value="node.name"
            @blur="_onInputBlur($event)"
            @keydown.code.13="_onInputEnter($event)"
            @keydown.code.27="_onInputEsc($event)"
        />
    </div>
</ui-drag-item>