<div class="assets">

    <header>
        <i class="i-add"
            @click="_onCreateClick($event)"
        ></i>
        <ui-input tabindex="-1" ref="filter"
            :placeholder="t('search_placeholder', language)"
            @keydown.stop=""    
            @change="_onFilterChanged($event)"
        ></ui-input>
        <i class="i-full"
            v-if="_getFold()"
            @click="_onFoldClick($event, true)"
        ></i>
        <i class="i-full-over"
            v-else
            @click="_onFoldClick($event, false)"
        ></i>
        <!-- <i class="i-refresh"></i> -->
    </header>
    
    <section ref="content">
    
        <!-- 等待数据使用的菊花标 -->
        <div class="loading"
            :hidden="!loading"
        >
            <ui-loading></ui-loading>
        </div>
    
        <!-- 实际使用的树结构 -->
        <asset-tree ref="tree"
            :list="list"
            :fold="fold"
            :total="total"
            :index="index"
            :length="length"
            :selects="selects"
            :copy="copy"
            :rename="rename"
            :filter="filter"

            :bindex="bindex"
            :blength="blength"
        ></asset-tree>
    </section>
    
    <footer
        :title="info"
    >
        {{info}}
    </footer>
</div>
