<div class="content">

    <section class="loading center" v-if="!ready">
        <ui-loading></ui-loading>
    </section>

    <div class="tools">
        <i class="i-add"
            @click="popupNew($event)"
        ></i>
        <ui-input tabindex="-1" ref="search"></ui-input>
        <i class="expand"
            :class="{'i-full':!allExpand, 'i-full-over':allExpand}"
            @click="allToggle"
        ></i>
        <i class="i-refresh"
            @click="refresh"
        ></i>
    </div>

    <div class="viewBox" ref="viewBox"
        @mousedown="popupContextMenu($event)"
    >
        <tree ref="tree"
        ></tree>
        <div class="dirBox" 
            :style="{ top: dirBox[0] + 'px', height: dirBox[1] + 'px' }"
        >
        </div>
        <div class=scrollBar
            :style="{ height: treeHeight + 'px'}"
        ></div>
    </div>
    <div class="sourcepath">
        {{current && current.source}}
    </div>
</div>