<div class="assets">
    <header class="header">
        <i class="i-add"
            :title="t('menu.createMenu', language)"
            @click="popupNew($event)"
        ></i>
        <i class="search-type i-search"
            :type="searchType"
            @click="popupSearchType"
        ></i>
        <ui-input tabindex="-1" ref="search" 
            @keydown.stop
            :placeholder="t(searchPlaceholder, language)"
            @change="searchChange"
        ></ui-input>
        <i class="expand"
            :class="{'i-full':!allExpand, 'i-full-over':allExpand}"
            :title="t('menu.'+(!allExpand?'allExpand':'allCollapse'), language)"
            @click="allToggle"
        ></i>
        <i class="i-refresh"
            :title="t('menu.refresh', language)"
            @click="refresh"
        ></i>
    </header>

    <section class="content" ref="viewBox"
        @mousedown="popupContext($event)"
    >
        <div class="loading center" 
            v-if="!ready"
        >
            <ui-loading></ui-loading>
        </div>

        <tree ref="tree"></tree>
        
        <div class="select-box" 
            :style="selectBox"
        >
        </div>
        <div class="scroll-bar"
            :style="{ height: treeHeight + 'px'}"
        ></div>
    </section>

    <footer class="footer">{{info}}</footer>
</div>