<ui-drag-area class="tree" 
    :dropable="Object.keys(types).join(',')"
    :state="state"
    :style="{ top: top + 'px' }"
    @dragenter="dragEnter($event)"
    @drop="drop($event)"
>
    <tree-node
        v-for="(asset,index) in assets" 
        :key="index"
        :asset="asset"
        :selects="selects"
        :twinkles="twinkles"
        :renameSource="renameSource"
        :addAsset="addAsset"
        @addTo="addTo"
        @addConfirm="addConfirm"
        @ipcDelete="ipcDelete"
        @copy="copy"
        @paste="paste"
        @ipcShiftClick="ipcShiftClick"
        @ipcCtrlClick="ipcCtrlClick"
        @ipcSelect="ipcSelect"
        @rename="rename"
        @dragOver="dragOver"
        @ipcDrop="ipcDrop"
        @toggle="toggle"
    >
    </tree-node>
</ui-drag-area>

