<ui-drag-area class="tree" dropable="asset,file"
    :state="state"
    :style="{ top: top + 'px' }"
>
    <tree-node type="asset"
        v-for="(asset,index) in assets" 
        :key="index"
        :asset="asset"
        :selects="selects"
        :renameSource="renameSource"
        @ipcAdd="ipcAdd"
        @ipcDelete="ipcDelete"
        @copy="copy"
        @paste="paste"
        @ipcMultipleSelect="ipcMultipleSelect"
        @ipcSingleSelect="ipcSingleSelect"
        @rename="rename"
        @dragOver="dragOver"
        @drop="drop"
    >
    </tree-node>
</ui-drag-area>

