<ui-drag-item class="tree-node"
    :draggable="draggable"
    :state="state"
    :active="selects.indexOf(asset.uuid) !== -1" 
    :style="{ paddingLeft: asset.left + 'px' }"
    :class="{'parent':asset.isParent}"
    :expand="asset.isExpand"
    :type="asset.type"

    @mousedown="mouseDown($event, asset)"
    @click="click($event, asset)" 
    @dragstart="dragStart($event, asset)" 
    @dragover="dragOver($event, asset)" 
    @dragleave="dragLeave($event, asset)" 
    @drop="drop($event, asset)" 
    @dblclick="open($event, asset)"
>
    <i class="arrow i-arrow-right"
        v-if="asset.isParent" 
        @click.stop="toggle($event, asset)"
        @dblclick.stop
    ></i>
    
    <i class="folder"
        :class="asset.isRoot?'i-database':'i-folder'"
        v-if="asset.isDirectory" 
    ></i>
    <tree-node-icon
        :asset="asset"
        :key="asset.uuid"
        v-else
    ></tree-node-icon>

    <label class="name"
        :twinkle="twinkles[asset.uuid]" 
        v-if="state!=='input'"
    >{{asset.name}}</label>

    <input class="rename" ref='input'
        v-else
        :value="asset.name"
        @blur="renameSubmit($event, asset)"
        @keydown.stop
        @keydown.enter="renameSubmit($event, asset)"
        @keydown.esc="renameCancel($event, asset)"
    >
    
    <section class="loading"
        v-if="state==='loading'"
    >
        <ui-loading></ui-loading>
    </section>

    <i class="readonly i-lock"
        v-if="asset.readOnly"
    ></i>
</ui-drag-item>
