[class^="i-"],
[class*=" i-"] {
    font-family: "hierarchy" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: inline-block;
}

.i-search:before { content: "\e726"; }

.i-unlock:before { content: "\e72c"; }

.i-arrow-right:before { content: "\e6df"; }

.i-add:before { content: "\e64d"; }

.i-full-over:before { content: "\e600"; }

.i-full:before { content: "\e602"; }

.i-lock:before { content: "\e900"; }

.i-refresh:before { content: "\ee63"; }