@import '../iconfont.less';
@drag-bgcolor: #0c8a0c;

:host {
    position: relative;
    display: flex;
    .loading {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        &.center {
            margin: auto;
        }
        ui-loading {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 18px;
            height: 18px;
        }
    }
    .content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

.tools {
    position: relative;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
    padding: 2px;
    overflow: hidden;
    font-size: 12px;
    background-color: var(--main-bg);
    white-space: nowrap;
    [class^="i-"],
    [class*=" i-"] {
        margin: 0 2px;
        border-radius: 2px;
        cursor: pointer;
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        transition: all .2s ease;
        overflow: hidden;
        &:hover {
            background-color: var(--panel-hover-c);
        }
    }
    >ui-input {
        flex: 1;
        margin: 0 4px;
    }
}

.viewBox {
    flex: 1;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    .scrollBar {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 2px;
        height: 0;
        overflow: hidden;
    }
    .dirBox {
        opacity: 0;
        height: 3px;
        position: absolute;
        z-index: 0;
        pointer-events: none;
        width: 100%;
        background-color: @drag-bgcolor;
        box-sizing: border-box;
        transition: 0.3s all;
        transition-delay: 0.1s;
    }
}

@import './tree';