@tree-active: #e4893e;
.tree {
    flex: 1;
    position: absolute;
    left: 0;
    top: 0;
    right: 16px;
    padding: 5px 0 0 0;
    box-sizing: border-box;
    overflow: hidden;
    &>li {
        position: relative;
        cursor: pointer;
        padding: 2px 8px;
        &[insert="before"] {
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: -2px;
                width: 100%;
                height: 2px;
                background-color: @tree-active;
            }
        }
        &[insert="inside"] {
            color:  @tree-active;
        }
        &[insert="after"] {
            &:before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                height: 2px;
                background-color: @tree-active;
            }
        }
    }
}