.tree {
    flex: 1;
    height: 0;
    margin: 1px;
    padding: 0;
    overflow: auto;

    & > li {
        cursor: pointer;
        padding: 2px 8px;

        &:hover {
            background: #333;
        }

        &[active] {
            background: #333;
        }
    }
}