@active-color: #f90;
@active-border: #09f;
@drag-color: #0f0;
.tree {
    flex: 1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 4px 0 4px 0;
    box-sizing: border-box;
    overflow: hidden;
    &>li {
        position: relative;
        padding: 2px 8px 2px 0;
        height: 16px;
        font-size: 12px;
        &[state="expand"] {
            .icon {
                transform: rotate(90deg);
            }
        }
        &[active="true"] {
            background-color: #059 !important;
        }
        &[drag="over"] {
            color: @drag-color !important;
        }
        &:hover {
            color: @active-color;
            background-color: rgba(255, 255, 255, 0.1);
        }
        &[insert="before"] {
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: -2px;
                width: 100%;
                height: 2px;
                background-color: @drag-color;
            }
        }
        &[insert="inside"] {
            color: @active-color;
        }
        &[insert="after"] {
            &:before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                height: 2px;
                background-color: @drag-color;
            }
        }
        .icon {
            vertical-align: middle;
            display: inline-block;
            font-size: 10px;
            width: 16px;
            text-align: center;
            transition: 0.2s all;
            cursor: pointer;
        }
        .label {
            cursor: default;
            vertical-align: middle;
        }
        .name {
            position: relative;
            vertical-align: middle;
            height: 100%;
            .loading {
                display: inline-block;
                position: relative;
                height: 100%;
            }
        }
        .rename-input {
            font-size: 12px;
            outline: 1px solid @active-border;
            outline-offset: 0;
            background-color: #252525;
            border: none;
            color: #999;
            padding-left: 4px;
            width: 80%;
        }
    }
}