[class^='i-'],
[class*=' i-'] {
    font-family: 'console' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: middle;
}

.i-error:before {
    content: '\e662';
}

.i-clear:before {
    content: '\e653';
}

.i-warn:before {
    content: '\e6be';
}

.i-arrow-right:before {
    content: '\e6df';
}
