[class^='i-'],
[class*=' i-'] {
    font-family: 'console' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: middle;
}

.i-fontsize:before { content: "\e7cb"; }

.i-catalog:before { content: "\e608"; }

.i-error:before { content: "\e70d"; }

.i-success:before { content: "\e726"; }

.i-warning:before { content: "\e6e1"; }

.i-arrow-right:before { content: "\e6df"; }

.i-stop:before { content: "\e842"; }

.i-lineheight:before { content: "\e6fa"; }