:host {
    display: flex;

    & > .content {
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
    
        & > .loading {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        & > section {
            padding: 10px 5px 6px 10px;
            flex: 1;
            display: flex;

            & > .asset {
                flex: 1;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                margin-right: 10px;

                & > section {
                    flex: 1;
                }
            }
    
            & > .node {
                flex: 1;
    
                & > .header {
                    line-height: 26px;
                    display: flex;

                    & > .ui-prop {
                        display: block;
                        margin: 0;

                        &:last-child {
                            flex: 1;
                            display: flex;

                            & > ui-input {
                                flex: 1;
                            }
                        }
                    }
                }

                & > ui-section {
                    display: block;
                }
    
                & > .comp {
                    display: flex;
                    flex-direction: column;

                    & > ui-section {

                        & > .header {

                            ui-checkbox {
                                position: relative;
                                top: 2px;
                            }
                        }
                    }
                }

                & > .footer {
                    margin: 10px 0;
                    text-align: center;

                    & > ui-button {
                        padding: 4px 20px;
                    }
                }
            }
        }
    }
}

ui-section {

    & > .header {
        padding: 0 4px;
        line-height: 26px;
        display: flex;

        & > .name {
            flex: 1;
        }

        & > .setting {

            & > i {
                cursor: pointer;
                padding: 4px;
            }
        }
    }
}

@import './imports/iconfont.less';
@import './imports/code-preview.less';
@import './imports/code-preview.tomorrow-night-eighties.less';
@import './imports/hint.less';
@import './imports/hljs.paraiso.dark.less';
@import './imports/markdown.less';
@import './imports/curve-editor.less';
@import './imports/gradient-editor.less';
@import './imports/sprite-editor.less';

@import './components/unknown.less';
@import './components/array.less';
@import './components/null.less';
@import './components/object.less';
@import './components/depend.less';
@import './components/prop.less';
@import './components/number.less';
@import './components/string.less';
@import './components/vec2.less';
@import './components/vec3.less';
@import './components/vec4.less';
@import './components/mat4.less';
@import './components/size.less';
@import './components/rect.less';
@import './components/node.less';
@import './components/component.less';
@import './components/asset.less';
@import './components/enum.less';
@import './components/color.less';
@import './components/curve-range.less';
@import './components/gradient.less';
@import './components/gradient-range.less';
@import './components/click-event.less';

@import './assets/header.less';
@import './assets/image-preview.less';
@import './assets/asset-directory.less';
@import './assets/asset-effect.less';
@import './assets/asset-fbx.less';
@import './assets/asset-image.less';
@import './assets/asset-javascript.less';
@import './assets/asset-texture.less';
@import './assets/asset-material.less';

@import './nodes/widget.less';
@import './nodes/scene.less';

