.tree-node {
    display: flex;
    height: 20px;
    line-height: 20px;
    font-family: inherit;
    font-size: inherit;
    &[state] {
        &:hover {
            background-color: var(--item-hover-bg);
            .lock {
                display: inline-block;
            }
        }
    }
    &[isScene] {
        background-color: var(--item-hover-bg);
        border-bottom: 1px solid var(--panel-content-bg);
    }
    &[isPrefab] {
        color: #07d02b;
    }
    &[active="true"] {
        background-color: var(--item-active-blur-bg);
        transition: 0.3s opacity ease;
        transition-delay: 0.3s;
        &:hover{
            background-color: var(--item-active-blur-bg);
        }
    }
    &[state="rename"] {
        background-color: transparent !important;
    }
    &[draging] {
        background-color: transparent !important;
    }
    &[expand="true"] {
        .arrow {
            transform: rotate(90deg);
        }
    }
    &[visible="false"] {
        >.arrow,
        >.name {
            opacity: 0.5;
        }
    }
    .arrow {
        height: 20px;
        line-height: 20px;
        width: 20px;
        text-align: center;
        cursor: pointer;
        font-size: 0.9em;
        &[animate] {
            transition: 0.2s transform;
        }
        &+.name {
            margin-left: 2px;
        }
        &+.rename {
            margin-left: 0;
        }
    }
    .scene {
        height: 20px;
        line-height: 20px;
        width: 20px;
        text-align: center;
        cursor: pointer;
        margin-left: -2px;
        font-size: 13px;
        &+.name {
            margin-left: 2px;
        }
    }
    >.lock {
        display: none;
        position: absolute;
        top: 4px;
        right: 4px;
        z-index: 100;
        font-size: 12px;
        color: var(--default-text-c) !important;
        &:hover {
            color: var(--item-hover-c) !important;
        }
        &.i-lock {
            display: inline-block;
        }
    }
    >.name {
        cursor: default;
        margin-left: 22px;
        white-space: nowrap;
        padding-right: 20px;
        &[twinkle] {
            animation-duration: 1s;
            animation-fill-mode: both;
            transform-origin: center;
        }
        &[twinkle="shake"] {
            animation-name: shake;
        }
        &[twinkle="shrink"] {
            animation-name: shrink;
        }
        &[twinkle="light"] {
            animation-name: light;
        }
    }
    >.loading {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        top: 1px;
        left: -12px;
        transform: scale(0.8);
    }
    .rename {
        position: relative;
        display: inline-block;
        font-size: 12px;
        border: 1px solid var(--panel-active-c);
        padding-left: 4px;
        margin-left: 22px;
        >input {
            outline: none;
            border: none;
            background-color: transparent;
            color: var(--default-text-c);
            vertical-align: top;
        }
        &[state^="error"] {
            border-color: var(--red-c);
            &:after {
                content: attr(title);
                padding: 0 4px;
                background-color: var(--red-c);
                color: #fff;
                position: absolute;
                top: 20px;
                left: -1px;
                z-index: 1;
                min-width: calc(100% - 6px);
            }
        }
    }
}

.tree {
    &[state="search"] {
        >.tree-node {
            padding-left: 26px !important;
            .name {
                margin-left: 6px;
            }
            .arrow {
                display: none;
            }
        }
    }
    &[hoving] {
        .tree-node {
            &[insert] {
                color: var(--item-active-c) !important;
                opacity: 0.75;
            }
        }
    }
}

:host([focused]) {
    .tree {
        .tree-node[active="true"] {
            color: var(--item-active-c);
            background-color: var(--item-active-bg);
        }
    }
}

@keyframes shake {
    from {
        transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        color: var(--item-hover-c);
    }
    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes shrink {
    from {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(.9, .9, .9);
        color: var(--item-hover-c);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes light {
    50% {
        color: var(--item-hover-c);
    }
}
