.modules {
    display: flex;
    flex-direction: column;
    line-height: 1.8em;
    section {
        display: flex;
        flex-direction: column;
    }
    .modules-item {
        display: flex;
        padding: 6px 0 6px 20px;
    }
    .checkbox {
        width: 60px;
    }
    .name {
        flex: 1;
    }
    .modules-header {
        padding-right: 14px;
    }
    .modules-section {
        overflow: auto;
    }
}